# import and install packages

In [106]:
import pandas as pd
import seaborn as sns

In [107]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# import data

In [114]:
#vou precisar mudar a lógica para agregar, pegando os dias em vez das medias mensais no caso das cotas

# import discharge database
df = pd.read_csv('/content/drive/MyDrive/CURUAI_PROCESS/17050001_Vazoes.csv')#.dropna(subset=['Maxima','Media', 'Minima'])
# df = pd.read_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/HydroWeb/17050001_Vazoes.csv')
df['Data'] = pd.to_datetime(df['Data'],dayfirst=True)

df = df[['Data', 'Vazao01', 'Vazao02', 'Vazao03',
       'Vazao04', 'Vazao05', 'Vazao06', 'Vazao07', 'Vazao08', 'Vazao09',
       'Vazao10', 'Vazao11', 'Vazao12', 'Vazao13', 'Vazao14', 'Vazao15',
       'Vazao16', 'Vazao17', 'Vazao18', 'Vazao19', 'Vazao20', 'Vazao21',
       'Vazao22', 'Vazao23', 'Vazao24', 'Vazao25', 'Vazao26', 'Vazao27',
       'Vazao28', 'Vazao29', 'Vazao30', 'Vazao31','Maxima','Media', 'Minima']].copy()
df

,Data,Vazao01,Vazao02,Vazao03,Vazao04,Vazao05,Vazao06,Vazao07,Vazao08,Vazao09,...,Vazao25,Vazao26,Vazao27,Vazao28,Vazao29,Vazao30,Vazao31,Maxima,Media,Minima
0,2024-12-01,70882.820,71476.32,72471.990,73677.580,73906.730,73906.730,73677.580,75022.44,75823.200,...,90945.390,92496.49,93536.016,94928.810,96504.920,98267.540,99864.100,99864.100,83155.860,70882.820
1,2024-11-01,54925.973,55607.24,55436.457,56293.480,55949.740,54418.280,53078.055,51757.56,51921.547,...,65484.040,66239.82,67000.750,67766.820,68731.670,69509.370,NaN,69509.370,60805.510,51757.560
2,2024-10-01,61237.440,60695.93,59443.450,60516.055,60876.117,59799.723,57680.938,55949.74,54756.430,...,54081.367,53244.50,52911.914,53078.055,52911.914,52415.348,53745.695,61237.440,54955.098,50618.246
3,2024-09-01,121290.836,119002.37,116919.000,115224.710,112793.820,110567.210,108357.290,105982.15,103446.440,...,70292.250,67383.14,65108.066,63432.030,61963.895,61781.805,NaN,121290.836,89971.480,61781.805
4,2024-08-01,173959.730,172562.48,171168.980,169779.250,168854.860,167932.160,166551.270,165403.44,163800.900,...,138566.360,136760.12,134365.690,131592.250,129232.336,126499.380,124174.336,173959.730,152110.640,124174.336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,1968-05-01,186702.720,187419.42,187897.730,190055.170,191257.300,191738.840,192220.810,193427.47,193910.830,...,201699.140,202925.28,203170.800,203907.970,203662.140,203416.420,203907.970,203907.970,197769.300,186702.720
677,1968-04-01,164029.530,164487.08,164487.080,164716.000,165632.780,166091.810,166551.270,166551.27,167011.140,...,181711.470,182184.88,182895.770,183607.580,184082.620,185510.230,NaN,185510.230,173898.780,164029.530
678,1968-03-01,147523.980,147318.08,147523.980,147936.140,147936.140,147730.000,147318.080,147936.14,148761.730,...,160838.640,161520.64,161975.840,162659.450,163344.000,163572.400,164029.530,164029.530,154791.720,147318.080
679,1968-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140786.020,143018.88,143426.270,144446.620,146084.860,NaN,NaN,NaN,NaN,NaN
680,1968-01-01,103000.000,105000.00,106000.000,106000.000,106000.000,107000.000,107000.000,107000.00,107000.000,...,115000.000,116000.00,117000.000,117000.000,118000.000,119000.000,120000.000,120000.000,110677.420,103000.000

#adicionar periodos por mes

In [18]:
def add_period(row):
    if row['Data'][3:5] == '01' or row['Data'][3:5] == '02' or row['Data'][3:5] == '03':
        val = 'R'
    elif row['Data'][3:5] == '04' or row['Data'][3:5] == '05' or row['Data'][3:5] == '06':
        val = 'HW'
    elif row['Data'][3:5] == '07' or row['Data'][3:5] == '08' or row['Data'][3:5] == '09':
        val = 'F'
    else:
        val = 'LW'
    return val

def add_start_period(row):
    if row['Data'][3:5] == '01' or row['Data'][3:5] == '02' or row['Data'][3:5] == '03':
        val = 1
    elif row['Data'][3:5] == '04' or row['Data'][3:5] == '05' or row['Data'][3:5] == '06':
        val = 4
    elif row['Data'][3:5] == '07' or row['Data'][3:5] == '08' or row['Data'][3:5] == '09':
        val = 7
    else:
        val = 10
    return val

def add_start_year(row):
    return int(row['Data'][6:10])

In [ ]:
df['water_period'] = df.apply(add_period, axis=1)
df['start_month'] = df.apply(add_start_period, axis=1)
df['year'] = df.apply(add_start_year, axis=1)
df

,EstacaoCodigo,NivelConsistencia,Data,Hora,MediaDiaria,MetodoObtencaoVazoes,Maxima,Minima,Media,DiaMaxima,...,Vazao25Status,Vazao26Status,Vazao27Status,Vazao28Status,Vazao29Status,Vazao30Status,Vazao31Status,water_period,start_month,year
0,17050001,1,01/10/2024,NaN,1,1,61237.44,50618.246,54955.098,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LW,10,2024
1,17050001,1,01/04/2024,NaN,1,1,199498.36,171633.060,185468.000,30.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,HW,4,2024
2,17050001,1,01/03/2024,NaN,1,1,171400.97,150210.660,161591.580,31.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R,1,2024
3,17050001,1,01/02/2024,NaN,1,1,149589.05,131000.770,140958.220,29.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,R,1,2024
4,17050001,1,01/01/2024,NaN,1,1,130607.01,101291.350,117846.250,31.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R,1,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,17050001,2,01/05/1968,NaN,1,1,203907.97,186702.720,197769.300,28.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,HW,4,1968
670,17050001,2,01/04/1968,NaN,1,1,185510.23,164029.530,173898.780,30.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,HW,4,1968
671,17050001,2,01/03/1968,NaN,1,1,164029.53,147318.080,154791.720,31.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R,1,1968
672,17050001,2,01/02/1968,NaN,1,1,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,R,1,1968
673,17050001,2,01/01/1968,NaN,1,1,120000.00,103000.000,110677.420,31.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,R,1,1968

# adicionar periodos por cota obidos

In [115]:
df['month'] = df['Data'].dt.month
df['year'] = df['Data'].dt.year
df['day'] = df['Data'].dt.day
df

,Data,Vazao01,Vazao02,Vazao03,Vazao04,Vazao05,Vazao06,Vazao07,Vazao08,Vazao09,...,Vazao28,Vazao29,Vazao30,Vazao31,Maxima,Media,Minima,month,year,day
0,2024-12-01,70882.820,71476.32,72471.990,73677.580,73906.730,73906.730,73677.580,75022.44,75823.200,...,94928.810,96504.920,98267.540,99864.100,99864.100,83155.860,70882.820,12,2024,1
1,2024-11-01,54925.973,55607.24,55436.457,56293.480,55949.740,54418.280,53078.055,51757.56,51921.547,...,67766.820,68731.670,69509.370,NaN,69509.370,60805.510,51757.560,11,2024,1
2,2024-10-01,61237.440,60695.93,59443.450,60516.055,60876.117,59799.723,57680.938,55949.74,54756.430,...,53078.055,52911.914,52415.348,53745.695,61237.440,54955.098,50618.246,10,2024,1
3,2024-09-01,121290.836,119002.37,116919.000,115224.710,112793.820,110567.210,108357.290,105982.15,103446.440,...,63432.030,61963.895,61781.805,NaN,121290.836,89971.480,61781.805,9,2024,1
4,2024-08-01,173959.730,172562.48,171168.980,169779.250,168854.860,167932.160,166551.270,165403.44,163800.900,...,131592.250,129232.336,126499.380,124174.336,173959.730,152110.640,124174.336,8,2024,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,1968-05-01,186702.720,187419.42,187897.730,190055.170,191257.300,191738.840,192220.810,193427.47,193910.830,...,203907.970,203662.140,203416.420,203907.970,203907.970,197769.300,186702.720,5,1968,1
677,1968-04-01,164029.530,164487.08,164487.080,164716.000,165632.780,166091.810,166551.270,166551.27,167011.140,...,183607.580,184082.620,185510.230,NaN,185510.230,173898.780,164029.530,4,1968,1
678,1968-03-01,147523.980,147318.08,147523.980,147936.140,147936.140,147730.000,147318.080,147936.14,148761.730,...,162659.450,163344.000,163572.400,164029.530,164029.530,154791.720,147318.080,3,1968,1
679,1968-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,144446.620,146084.860,NaN,NaN,NaN,NaN,NaN,2,1968,1
680,1968-01-01,103000.000,105000.00,106000.000,106000.000,106000.000,107000.000,107000.000,107000.00,107000.000,...,117000.000,118000.000,119000.000,120000.000,120000.000,110677.420,103000.000,1,1968,1

In [116]:
#import period dates
df_period_limits = pd.read_csv('/content/drive/MyDrive/CURUAI_PROCESS/water_period_limits.csv').drop(columns=['Unnamed: 0'])
df_period_limits['Data'] = pd.to_datetime(df_period_limits['Data'])
# df_period_limits['date'] = df_period_limits['Data'].apply(lambda x : x[0:10])
# df_period_limits['date'] = pd.to_datetime(df_period_limits['date'])
df_period_limits['month'] = df_period_limits['Data'].dt.month
df_period_limits['year'] = df_period_limits['Data'].dt.year
df_period_limits['day'] = df_period_limits['Data'].dt.day

df_period_limits

,Data,type,day,month,year,longitude,latitude
0,2000-01-13 10:43:38.181818240,LW_to_R,13,1,2000,-55.5131,-1.9192
1,2000-02-29 18:17:42.295081984,R_to_HW,29,2,2000,-55.5131,-1.9192
2,2000-08-24 20:45:42.857142784,HW_to_F,24,8,2000,-55.5131,-1.9192
3,2000-09-28 10:23:44.598930432,F_to_LW,28,9,2000,-55.5131,-1.9192
4,2001-01-05 16:27:54.418604672,LW_to_R,5,1,2001,-55.5131,-1.9192
...,...,...,...,...,...,...,...
95,2023-08-25 18:37:31.737451520,F_to_LW,25,8,2023,-55.5131,-1.9192
96,2024-01-26 18:57:28.739495680,LW_to_R,26,1,2024,-55.5131,-1.9192
97,2024-03-25 23:32:02.330097152,R_to_HW,25,3,2024,-55.5131,-1.9192
98,2024-04-06 10:42:51.428571648,HW_to_F,6,4,2024,-55.5131,-1.9192
99,2024-05-30 21:51:25.714285824,F_to_L,30,5,2024,-55.5131,-1.9192

In [111]:
import numpy as np
import math
# print()
# df
# df_period_limits

#avaliar se dá ruim quando o periodo se inicia em um ano e termina em outro

# def set_period(row):
#   return df_period_limits.loc[(df_period_limits['month'] == row['month'])&(df_period_limits['year'] == row['year'])]['type'].values[0]
lista_periodo = []
lista_media_vazao = []
# for i in range(0,len(df_period_limits)-1):
for i in range(0,5):
  x = df.loc[df['year'] >= df_period_limits['year'][i] ].copy()
  x = x.loc[x['year'] <= df_period_limits['year'][i+1]].copy()
  x = x.loc[x['month'] >= df_period_limits['month'][i] ].copy()
  x = x.loc[x['month'] <= df_period_limits['month'][i+1]].copy()
  x = x.drop(columns=['Data','year','month','day','Maxima','Media','Minima'])
  print( len(x))
  print(x)
  print(str('Vazao')+str(df_period_limits['day'][i]))
  print(str('Vazao')+str(df_period_limits['day'][i+1]))

  lista_periodo.append(df_period_limits['type'][i])

  lista_dias = []
  x_1 = x[0:1].copy()
  # print(x_1)
  for j in range(int(df_period_limits['day'][i]),31):
      # print(j)
    if j < 10:
      media1 = x_1[str('Vazao0')+str(j)].mean()
      lista_dias.append(media1)

    else:
      media1 = x_1[str('Vazao')+str(j)].mean()
      lista_dias.append(media1)
  # print(lista_dias)
  x_2 = x[-1:].copy()
  # print(x_2)
  for k in range(int(df_period_limits['day'][i+1]),31):
      # print(k)
    if k < 10:
      media2 = x_2[str('Vazao0')+str(k)]
      lista_dias.append(media2.mean())
      # print(media2)
    else:
      media2 = x_2[str('Vazao')+str(k)]
      lista_dias.append(media2.mean())
      # print(media2)
  cleaned = [x for x in lista_dias if not (isinstance(x, float) and math.isnan(x))]
  cleaned_mean = sum(cleaned)/len(lista_dias)


  if len(x) > 2:
    media = x[1:-1].mean(axis=1).mean()
    cleaned_mean = (media + cleaned_mean)/2

  lista_media_vazao.append(cleaned_mean)


  # print(lista_media_vazao)
  print(lista_periodo)
  print()
  #

  # periodo = str(df_period_limits['type'][i])
  # print(periodo)

2
       Vazao01    Vazao02     Vazao03   Vazao04    Vazao05    Vazao06  \
295  140179.34  140786.02  141393.670  142002.3  143630.12  144855.53
296  107258.62  108357.29  110752.125  112235.6  113353.07  115037.03

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
295  146084.86  147318.08  148142.38  148968.39  ...  161293.20  161975.84
296  116730.29  118243.19  119572.95  120335.32  ...  134365.69  135960.22

       Vazao24    Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
295  163344.00  164258.25  165174.19  165632.78  165632.78  166091.81
296  137160.75  138767.60  139371.97  139573.66  139371.97  139573.66

       Vazao30    Vazao31
295        NaN        NaN
296  139573.66  140179.34

[2 rows x 31 columns]
Vazao13
Vazao29
['LW_to_R']

7
       Vazao01    Vazao02    Vazao03    Vazao04    Vazao05    Vazao06  \
289  214571.20  214321.17  213821.39  213072.45  212573.66  212075.23
290  223383.36  223890.47  223890.47  223890.47  223890.47  223129.94
291  230773.88  231030.16  231286.52  231542.98  231286.52  231030.16
292  220601.10  220601.10  220853.55  221611.48  222117.25  223383.36
293  196090.95  197548.88  198522.81  199010.39  200231.06  201699.14
294  165403.44  165862.25  166321.48  167471.44  169085.80  169779.25
295  140179.34  140786.02  141393.67  142002.30  143630.12  144855.53

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
289  211328.36  210830.90  210085.48  209340.95  ...  199986.73  199254.33
290  223129.94  222623.40  222370.28  221864.31  ...  218584.95  218333.36
291  231542.98  231030.16  230517.70  230005.62  ...  225159.92  225159.92
292  224397.97  224905.84  225414.11  225922.75  ...  230517.70  230773.88
293  202434.53  203170.80  204153.89  204646.02  ...  214321.17  215822.83
294  170705.31  172097.56  173493.56  174192.98  ...  188855.60  189815.06
295  146084.86  147318.08  148142.38  148968.39  ...  161293.20  161975.84

       Vazao24    Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
289  198766.55  197792.20  196576.53  195848.31  194878.77  194152.67
290  218081.88  217327.98  217076.89  216825.89  216574.98  216073.45
291  224905.84  224905.84  224397.97  224397.97  224144.17  223890.47
292  230517.70  230773.88  230773.88  230517.70  230773.88  230773.88
293  216073.45  216574.98  216825.89  218081.88  218584.95  219340.28
294  190776.14  191738.84  192703.17  192944.50  194394.60  194878.77
295  163344.00  164258.25  165174.19  165632.78  165632.78  166091.81

       Vazao30    Vazao31
289  193669.10  192461.94
290  215071.56  214821.34
291  223636.86        NaN
292  230773.88  230773.88
293  219844.31        NaN
294  195121.00  195848.31
295        NaN        NaN

[7 rows x 31 columns]
Vazao29
Vazao24
['LW_to_R', 'R_to_HW']

2
       Vazao01    Vazao02    Vazao03    Vazao04    Vazao05    Vazao06  \
288  192220.81  190776.14  189815.06  188855.60  187419.42  186464.02
289  214571.20  214321.17  213821.39  213072.45  212573.66  212075.23

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
288  185510.23  184795.98  181948.12  180293.70  ...  165862.25  164029.53
289  211328.36  210830.90  210085.48  209340.95  ...  199986.73  199254.33

       Vazao24   Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
288  162659.45  161293.2  159930.81  159024.69  157894.45  156766.90
289  198766.55  197792.2  196576.53  195848.31  194878.77  194152.67

       Vazao30    Vazao31
288  155866.81        NaN
289  193669.10  192461.94

[2 rows x 31 columns]
Vazao24
Vazao28
['LW_to_R', 'R_to_HW', 'HW_to_F']

0
Empty DataFrame
Columns: [Vazao01, Vazao02, Vazao03, Vazao04, Vazao05, Vazao06, Vazao07, Vazao08, Vazao09, Vazao10, Vazao11, Vazao12, Vazao13, Vazao14, Vazao15, Vazao16, Vazao17, Vazao18, Vazao19, Vazao20, Vazao21, Vazao22, Vazao23, Vazao24, Vazao25, Vazao26, Vazao27, Vazao28, Vazao29, Vazao30, Vazao31]
Index: []

[0 rows x 31 columns]
Vazao28
Vazao5
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW']

2
       Vazao01     Vazao02    Vazao03     Vazao04     Vazao05     Vazao06  \
283  152915.47  153542.230  154968.44  156541.720  157894.450  158798.420
284  120335.32  120526.195  120335.32  120144.555  120144.555  120144.555

       Vazao07   Vazao08     Vazao09    Vazao10  ...    Vazao22    Vazao23  \
283  159930.81  161293.2  162659.450  164945.03  ...  175360.75  176296.84
284  120335.32  121099.5  122633.305  124367.48  ...  137561.80  139573.66

       Vazao24    Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
283  177000.00  178644.31  179115.06  180057.77  181002.12        NaN
284  141799.31  143426.27  144038.16  145674.66  147112.27  148761.73

       Vazao30    Vazao31
283        NaN        NaN
284  150210.66  151664.84

[2 rows x 31 columns]
Vazao5
Vazao14
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R']

In [117]:
import numpy as np
import math

x = df.loc[df['year'] >= 2024 ].copy()
x = x.loc[x['year'] <= 2024].copy()
x = x.loc[x['month'] >= 5 ].copy()
x = x.loc[x['month'] <= 12].copy()
x = x.drop(columns=['Data','year','month','day','Maxima','Media','Minima'])
print( len(x))
print(x)
  # print(str('Vazao')+str(df_period_limits['day'][i]))
  # print(str('Vazao')+str(df_period_limits['day'][i+1]))

  # lista_periodo.append(df_period_limits['type'][i])

  # lista_dias = []
  # x_1 = x[0:1].copy()
  # # print(x_1)
  # for j in range(int(df_period_limits['day'][i]),31):
  #     # print(j)
  #   if j < 10:
  #     media1 = x_1[str('Vazao0')+str(j)].mean()
  #     lista_dias.append(media1)

  #   else:
  #     media1 = x_1[str('Vazao')+str(j)].mean()
  #     lista_dias.append(media1)
  # # print(lista_dias)
  # x_2 = x[-1:].copy()
  # # print(x_2)
  # for k in range(int(df_period_limits['day'][i+1]),31):
  #     # print(k)
  #   if k < 10:
  #     media2 = x_2[str('Vazao0')+str(k)]
  #     lista_dias.append(media2.mean())
  #     # print(media2)
  #   else:
  #     media2 = x_2[str('Vazao')+str(k)]
  #     lista_dias.append(media2.mean())
  #     # print(media2)
  # cleaned = [x for x in lista_dias if not (isinstance(x, float) and math.isnan(x))]
  # cleaned_mean = sum(cleaned)/len(lista_dias)


  # if len(x) > 2:
  #   media = x[1:-1].mean(axis=1).mean()
  #   cleaned_mean = (media + cleaned_mean)/2

  # lista_media_vazao.append(cleaned_mean)


  # # print(lista_media_vazao)
  # print(lista_periodo)
  # print()
  # #

  # # periodo = str(df_period_limits['type'][i])
  # # print(periodo)

8
      Vazao01    Vazao02     Vazao03     Vazao04     Vazao05     Vazao06  \
0   70882.820   71476.32   72471.990   73677.580   73906.730   73906.730
1   54925.973   55607.24   55436.457   56293.480   55949.740   54418.280
2   61237.440   60695.93   59443.450   60516.055   60876.117   59799.723
3  121290.836  119002.37  116919.000  115224.710  112793.820  110567.210
4  173959.730  172562.48  171168.980  169779.250  168854.860  167932.160
5  197305.640  196455.10  196090.950  195605.780  195121.000  194878.770
6  205878.080  205631.47  205384.970  205384.970  205384.970  205878.080
7  199986.730  200475.50  200475.500  200475.500  200720.030  201209.390

      Vazao07    Vazao08     Vazao09    Vazao10  ...     Vazao22     Vazao23  \
0   73677.580   75022.44   75823.200   76627.16  ...   87364.560   88212.250
1   53078.055   51757.56   51921.547   51757.56  ...   66905.350   66714.800
2   57680.938   55949.74   54756.430   53578.32  ...   59088.434   57855.777
3  108357.290  105982.15  103446.440  100755.24  ...   80202.164   76949.625
4  166551.270  165403.44  163800.900  162431.47  ...  143630.120  142611.920
5  194394.600  193669.10  193185.940  192461.94  ...  183132.940  182658.700
6  205878.080  205878.08  205878.080  205631.47  ...  199742.500  199254.330
7  202189.300  202925.28  202925.280  203170.80  ...  204399.900  204399.900

      Vazao24     Vazao25    Vazao26     Vazao27     Vazao28     Vazao29  \
0   89404.150   90945.390   92496.49   93536.016   94928.810   96504.920
1   66050.400   65484.040   66239.82   67000.750   67766.820   68731.670
2   55436.457   54081.367   53244.50   52911.914   53078.055   52911.914
3   74065.730   70292.250   67383.14   65108.066   63432.030   61963.895
4  140583.690  138566.360  136760.12  134365.690  131592.250  129232.336
5  181948.120  181002.120  180057.77  179115.060  178174.000  177234.600
6  199010.390  199010.390  199010.39  198522.810  198279.190  197792.200
7  204892.230  204892.230  205138.55  205138.550  205138.550  205631.470

      Vazao30     Vazao31
0   98267.540   99864.100
1   69509.370         NaN
2   52415.348   53745.695
3   61781.805         NaN
4  126499.380  124174.336
5  176296.840  175360.750
6  197548.880         NaN
7  206124.800  205878.080

[8 rows x 31 columns]

In [113]:
df_media_vazao = pd.DataFrame(list(zip(lista_periodo, lista_media_vazao)),
               columns =['water_period', 'media_vazao'])

df_media_vazao=df_media_vazao.replace('LW_to_R', 'R')
df_media_vazao=df_media_vazao.replace('R_to_HW', 'HW')
df_media_vazao=df_media_vazao.replace('HW_to_F', 'F')
df_media_vazao=df_media_vazao.replace('F_to_LW', 'LW')
df_media_vazao=df_media_vazao.replace('F_to_L', 'LW')
df_media_vazao

  water_period    media_vazao
0            R  149214.789000
1           HW  183025.310285
2            F  169613.685000
3           LW       0.000000
4            R  149854.912953

In [ ]:


df=df.replace('LW_to_R', 'R')
df=df.replace('R_to_HW', 'HW')
df=df.replace('HW_to_F', 'F')
df=df.replace('F_to_LW', 'LW')
df

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
df_discharge = df[['EstacaoCodigo','Data',  'Maxima', 'Minima', 'Media','water_period',
'start_month','year']].copy()
df_discharge.describe()

,EstacaoCodigo,Maxima,Minima,Media,start_month,year
count,674.0,661.000000,661.000000,673.000000,674.000000,674.000000
mean,17050001.0,179260.637598,158070.055555,168624.140530,5.464392,1995.597923
std,0.0,45048.747056,48336.029515,46952.358378,3.356404,16.247713
min,17050001.0,61237.440000,50618.246000,54955.098000,1.000000,1968.000000
25%,17050001.0,144038.160000,114100.340000,127891.984000,1.000000,1982.000000
50%,17050001.0,185272.050000,159477.530000,174545.230000,4.000000,1996.000000
75%,17050001.0,217327.980000,200964.660000,209988.800000,7.000000,2010.000000
max,17050001.0,274744.220000,269368.660000,272205.200000,10.000000,2024.000000

In [ ]:
df_discharge['Data']=pd.to_datetime(df_discharge['Data'],format="%d/%m/%Y")

In [ ]:
df_discharge.dtypes

EstacaoCodigo             int64
Data             datetime64[ns]
Maxima                  float64
Minima                  float64
Media                   float64
water_period             object
start_month               int64
year                      int64
dtype: object

In [ ]:
df_discharge.head()

,EstacaoCodigo,Data,Maxima,Minima,Media,water_period,start_month,year
0,17050001,2024-10-01,61237.44,50618.246,54955.098,LW,10,2024
1,17050001,2024-04-01,199498.36,171633.060,185468.000,HW,4,2024
2,17050001,2024-03-01,171400.97,150210.660,161591.580,R,1,2024
3,17050001,2024-02-01,149589.05,131000.770,140958.220,R,1,2024
4,17050001,2024-01-01,130607.01,101291.350,117846.250,R,1,2024

In [ ]:
df_discharge = df_discharge.loc[(df_discharge['Data'] > pd.to_datetime('2000-01-01')) & (df_discharge['Data'] < pd.to_datetime('2025-01-01'))]
df_discharge

,EstacaoCodigo,Data,Maxima,Minima,Media,water_period,start_month,year
0,17050001,2024-10-01,61237.44,50618.246,54955.098,LW,10,2024
1,17050001,2024-04-01,199498.36,171633.060,185468.000,HW,4,2024
2,17050001,2024-03-01,171400.97,150210.660,161591.580,R,1,2024
3,17050001,2024-02-01,149589.05,131000.770,140958.220,R,1,2024
4,17050001,2024-01-01,130607.01,101291.350,117846.250,R,1,2024
...,...,...,...,...,...,...,...,...
284,17050001,2000-06-01,231542.98,223636.860,227736.890,HW,4,2000
285,17050001,2000-05-01,230773.88,220601.100,227064.900,HW,4,2000
286,17050001,2000-04-01,219844.31,196090.950,208611.500,HW,4,2000
287,17050001,2000-03-01,195848.31,165403.440,181084.640,R,1,2000
288,17050001,2000-02-01,166091.81,140179.340,153418.560,R,1,2000

In [ ]:
aggregated_data = df_discharge.groupby(['water_period', 'year','start_month']).agg(
    Maxima=('Maxima', 'mean'),
    Minima=('Minima', 'mean'),
    Media=('Media', 'mean')
).sort_values(by=['year','start_month'])

In [ ]:
aggregated_data

                                      Maxima         Minima          Media
water_period year start_month
R            2000 1            180970.060000  152791.390000  167251.600000
HW           2000 4            227387.056667  213442.970000  221137.763333
F            2000 7            210227.493333  187716.696667  199513.620000
LW           2000 10           131677.151667  112206.038667  119414.215000
R            2001 1            180008.923333  151748.301667  165210.756667
...                                      ...            ...            ...
F            2023 7            193004.146667  150315.096667  174020.018667
LW           2023 10            86783.280000   63105.949667   71733.411333
R            2024 1            150532.343333  127500.926667  140132.016667
HW           2024 4            199498.360000  171633.060000  185468.000000
LW           2024 10            61237.440000   50618.246000   54955.098000

[98 rows x 3 columns]

In [ ]:
aggregated_data.to_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/Parameters Time series/mean_watershed_discharge.csv')

In [ ]:
view = pd.read_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/Parameters Time series/mean_watershed_discharge.csv')
view

,water_period,year,start_month,Maxima,Minima,Media
0,R,2000,1,180970.060000,152791.390000,167251.600000
1,HW,2000,4,227387.056667,213442.970000,221137.763333
2,F,2000,7,210227.493333,187716.696667,199513.620000
3,LW,2000,10,131677.151667,112206.038667,119414.215000
4,R,2001,1,180008.923333,151748.301667,165210.756667
...,...,...,...,...,...,...
93,F,2023,7,193004.146667,150315.096667,174020.018667
94,LW,2023,10,86783.280000,63105.949667,71733.411333
95,R,2024,1,150532.343333,127500.926667,140132.016667
96,HW,2024,4,199498.360000,171633.060000,185468.000000
97,LW,2024,10,61237.440000,50618.246000,54955.098000