# import and install packages

In [1]:
import pandas as pd
import seaborn as sns

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# import data

In [22]:
# import discharge database
df = pd.read_csv('/content/drive/MyDrive/CURUAI_PROCESS/17050001_Vazoes.csv').dropna(subset=['Maxima','Media', 'Minima'])
# df = pd.read_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/HydroWeb/17050001_Vazoes.csv')
df['Data'] = pd.to_datetime(df['Data'])
df.dtypes

EstacaoCodigo                 int64
NivelConsistencia             int64
Data                 datetime64[ns]
Hora                        float64
MediaDiaria                   int64
                          ...
Vazao27Status               float64
Vazao28Status               float64
Vazao29Status               float64
Vazao30Status               float64
Vazao31Status               float64
Length: 78, dtype: object

#adicionar periodos por mes

In [ ]:
def add_period(row):
    if row['Data'][3:5] == '01' or row['Data'][3:5] == '02' or row['Data'][3:5] == '03':
        val = 'R'
    elif row['Data'][3:5] == '04' or row['Data'][3:5] == '05' or row['Data'][3:5] == '06':
        val = 'HW'
    elif row['Data'][3:5] == '07' or row['Data'][3:5] == '08' or row['Data'][3:5] == '09':
        val = 'F'
    else:
        val = 'LW'
    return val

def add_start_period(row):
    if row['Data'][3:5] == '01' or row['Data'][3:5] == '02' or row['Data'][3:5] == '03':
        val = 1
    elif row['Data'][3:5] == '04' or row['Data'][3:5] == '05' or row['Data'][3:5] == '06':
        val = 4
    elif row['Data'][3:5] == '07' or row['Data'][3:5] == '08' or row['Data'][3:5] == '09':
        val = 7
    else:
        val = 10
    return val

def add_start_year(row):
    return int(row['Data'][6:10])

In [ ]:
df['water_period'] = df.apply(add_period, axis=1)
df['start_month'] = df.apply(add_start_period, axis=1)
df['year'] = df.apply(add_start_year, axis=1)
df

,EstacaoCodigo,NivelConsistencia,Data,Hora,MediaDiaria,MetodoObtencaoVazoes,Maxima,Minima,Media,DiaMaxima,...,Vazao25Status,Vazao26Status,Vazao27Status,Vazao28Status,Vazao29Status,Vazao30Status,Vazao31Status,water_period,start_month,year
0,17050001,1,01/10/2024,NaN,1,1,61237.44,50618.246,54955.098,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LW,10,2024
1,17050001,1,01/04/2024,NaN,1,1,199498.36,171633.060,185468.000,30.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,HW,4,2024
2,17050001,1,01/03/2024,NaN,1,1,171400.97,150210.660,161591.580,31.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R,1,2024
3,17050001,1,01/02/2024,NaN,1,1,149589.05,131000.770,140958.220,29.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,R,1,2024
4,17050001,1,01/01/2024,NaN,1,1,130607.01,101291.350,117846.250,31.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R,1,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,17050001,2,01/05/1968,NaN,1,1,203907.97,186702.720,197769.300,28.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,HW,4,1968
670,17050001,2,01/04/1968,NaN,1,1,185510.23,164029.530,173898.780,30.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,HW,4,1968
671,17050001,2,01/03/1968,NaN,1,1,164029.53,147318.080,154791.720,31.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R,1,1968
672,17050001,2,01/02/1968,NaN,1,1,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,R,1,1968
673,17050001,2,01/01/1968,NaN,1,1,120000.00,103000.000,110677.420,31.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,R,1,1968

# adicionar periodos por cota obidos

In [23]:
#import period dates
df_period_limits = pd.read_csv('/content/drive/MyDrive/CURUAI_PROCESS/water_period_limits.csv').drop(columns=['Unnamed: 0'])

df_period_limits['date'] = df_period_limits['Data'].apply(lambda x : x[0:10])
df_period_limits['date'] = pd.to_datetime(df_period_limits['date'])
df_period_limits

,Data,type,day,month,year,longitude,latitude,date
0,2000-01-13 10:43:38.181818240,LW_to_R,13,1,2000,-55.5131,-1.9192,2000-01-13
1,2000-02-29 18:17:42.295081984,R_to_HW,29,2,2000,-55.5131,-1.9192,2000-02-29
2,2000-08-24 20:45:42.857142784,HW_to_F,24,8,2000,-55.5131,-1.9192,2000-08-24
3,2000-09-28 10:23:44.598930432,F_to_LW,28,9,2000,-55.5131,-1.9192,2000-09-28
4,2001-01-05 16:27:54.418604672,LW_to_R,5,1,2001,-55.5131,-1.9192,2001-01-05
...,...,...,...,...,...,...,...,...
95,2023-08-25 18:37:31.737451520,F_to_LW,25,8,2023,-55.5131,-1.9192,2023-08-25
96,2024-01-26 18:57:28.739495680,LW_to_R,26,1,2024,-55.5131,-1.9192,2024-01-26
97,2024-03-25 23:32:02.330097152,R_to_HW,25,3,2024,-55.5131,-1.9192,2024-03-25
98,2024-04-06 10:42:51.428571648,HW_to_F,6,4,2024,-55.5131,-1.9192,2024-04-06
99,2024-05-30 21:51:25.714285824,F_to_L,30,5,2024,-55.5131,-1.9192,2024-05-30

In [28]:
for i in range(0,len(df_period_limits)-1):
  temp_df = df.loc[(df['Data'] > df_period_limits['date'][i]) & (df['Data'] < df_period_limits['date'][i+1])]
  temp_df = temp_df[['Maxima',	'Minima',	'Media','Data']].copy()
  temp_df['time_start'] = df_period_limits['date'][i]
  temp_df['time_start'] = df_period_limits['date'][i+1]
  print(temp_df)

Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
        Maxima      Minima      Media       Data time_start
274  224651.86  208349.600  218910.06 2001-01-04 2001-01-05
275  207359.81  182184.880  195383.84 2001-01-03 2001-01-05
276  181002.12  152915.470  168311.81 2001-01-02 2001-01-05
277  151664.84  120144.555  131936.62 2001-01-01 2001-01-05
         Maxima     Minima      Media       Data time_start
266  120144.555   94579.89  104021.32 2001-01-12 2001-02-14
267   94231.450   87026.35   90687.36 2001-01-11 2001-02-14
268  122825.540   88042.47  105012.43 2001-01-10 2001-02-14
269  167932.160  124367.48  146406.89 2001-01-09 2001-02-14
270  200231.060  169316.84  186235.72 2001-01-08 2001-02-14
271  220853.550  201454.22  212149.10 2001-01-07 2001-02-14
272  224651.860  220853.55  222691.73 2001-01-06 2001-02-14
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
         Maxima      Minima       Media       Data time_start
254  129232.336  107807.430  117824.670 2002-01-12 2002-02-26
255  106346.266   90773.660   98227.125 2002-01-11 2002-02-26
256  145879.700   91461.336  118592.770 2002-01-10 2002-02-26
257  185033.970  147523.980  167839.660 2002-01-09 2002-02-26
258  211328.360  186464.020  199855.970 2002-01-08 2002-02-26
259  222876.620  211826.190  217546.610 2002-01-07 2002-02-26
260  223890.470  220853.550  222278.440 2002-01-06 2002-02-26
261  220348.730  212823.020  216125.890 2002-01-05 2002-02-26
262  212823.020  193185.940  203673.140 2002-01-04 2002-02-26
263  192220.810  171400.970  183195.550 2002-01-03 2002-02-26
264  170010.610  154169.940  158885.480 2002-01-02 2002-02-26
265  156541.720  122249.180  143574.830 2002-01-01 2002-02-26
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
        Maxima      Minima      Media       Data time_start
242  110197.73  105618.490  106991.49 2003-01-12 2003-03-14
243  107807.43  102366.766  104902.62 2003-01-11 2003-03-14
244  140786.02  107441.440  119105.79 2003-01-10 2003-03-14
245  180765.88  142611.920  163015.31 2003-01-09 2003-03-14
246  201454.22  181002.120  192319.05 2003-01-08 2003-03-14
247  213322.00  201454.220  208424.40 2003-01-07 2003-03-14
248  216825.89  213821.390  214947.33 2003-01-06 2003-03-14
249  213821.39  207854.500  212189.78 2003-01-05 2003-03-14
250  207112.61  180293.700  195327.84 2003-01-04 2003-03-14
251  178879.64  161520.640  169638.47 2003-01-03 2003-03-14
252  160838.64  145060.160  153131.45 2003-01-02 2003-03-14
253  144038.16  130017.195  137586.94 2003-01-01 2003-03-14
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
         Maxima      Minima      Media       Data time_start
231  109644.375  103987.870  105961.42 2004-01-11 2004-01-12
232  129624.540  110013.164  117569.37 2004-01-10 2004-01-12
233  161520.640  130213.690  145964.81 2004-01-09 2004-01-12
234  182895.770  162431.470  173777.38 2004-01-08 2004-01-12
235  198279.190  183132.940  191277.33 2004-01-07 2004-01-12
236  207854.500  199010.390  204472.75 2004-01-06 2004-01-12
237  211328.360  204892.230  209568.25 2004-01-05 2004-01-12
238  204399.900  189095.300  198177.20 2004-01-04 2004-01-12
239  188615.970  164487.080  175410.42 2004-01-03 2004-01-12
240  164487.080  146700.980  156258.81 2004-01-02 2004-01-12
241  146495.500  108908.200  127009.31 2004-01-01 2004-01-12
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
        Maxima     Minima      Media       Data time_start
223  208597.28  182658.70  196685.30 2005-01-07 2005-01-08
224  224397.97  208845.08  216800.78 2005-01-06 2005-01-08
225  226431.78  218836.62  224131.77 2005-01-05 2005-01-08
226  218836.62  208349.60  214486.86 2005-01-04 2005-01-08
227  207854.50  165174.19  187094.06 2005-01-03 2005-01-08
228  163115.72  141191.00  150188.14 2005-01-02 2005-01-08
229  140583.69  124367.48  133254.56 2005-01-01 2005-01-08
         Maxima     Minima       Media       Data time_start
218  124560.720  98090.734  111701.375 2005-01-12 2005-02-24
219   96856.484  72008.700   84906.695 2005-01-11 2005-02-24
220   83671.380  67806.266   76039.195 2005-01-10 2005-02-24
221  127863.125  83837.950  105553.805 2005-01-09 2005-02-24
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
         Maxima      Minima       Media       Data time_start
206  130803.836  104168.580  117994.664 2006-01-12 2006-02-02
207  102906.070   85678.430   94037.190 2006-01-11 2006-02-02
208  108357.290   85678.430   94808.125 2006-01-10 2006-02-02
209  159477.530  110382.414  134709.560 2006-01-09 2006-02-02
210  204153.890  161975.840  184555.000 2006-01-08 2006-02-02
211  231286.520  205138.550  218787.720 2006-01-07 2006-02-02
212  245008.750  232312.940  239126.390 2006-01-06 2006-02-02
213  245531.720  233598.100  240933.450 2006-01-05 2006-02-02
214  233083.750  219844.310  224865.800 2006-01-04 2006-02-02
215  219340.280  196819.470  209451.160 2006-01-03 2006-02-02
216  195121.000  164029.530  179202.750 2006-01-02 2006-02-02
217  162659.450  127277.990  146465.530 2006-01-01 2006-02-02
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
        Maxima      Minima       Media       Data time_start
194  132184.73  106164.150  118815.305 2007-01-12 2007-02-24
195  106710.86   92842.516   98768.470 2007-01-11 2007-02-24
196  116541.69   92496.490  100658.100 2007-01-10 2007-02-24
197  170937.10  118053.670  142611.530 2007-01-09 2007-02-24
198  202925.28  172329.970  189935.060 2007-01-08 2007-02-24
199  219844.31  203907.970  213179.470 2007-01-07 2007-02-24
200  226941.19  220348.730  225264.280 2007-01-06 2007-02-24
201  225922.75  211577.220  219524.940 2007-01-05 2007-02-24
202  211079.58  189815.060  200036.200 2007-01-04 2007-02-24
203  189095.30  176062.670  183237.700 2007-01-03 2007-02-24
204  175360.75  159477.530  168072.220 2007-01-02 2007-02-24
205  157668.72  131789.640  145016.340 2007-01-01 2007-02-24
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
        Maxima      Minima       Media       Data time_start
182  140583.69  115224.710  126316.625 2008-01-12 2008-01-30
183  114662.01  100933.830  107247.680 2008-01-11 2008-01-30
184  118812.40  101649.350  107556.940 2008-01-10 2008-01-30
185  170937.10  119763.375  144871.250 2008-01-09 2008-01-30
186  208597.28  172795.100  191634.860 2008-01-08 2008-01-30
187  232826.72  208845.080  221874.500 2008-01-07 2008-01-30
188  239021.45  233598.100  236926.020 2008-01-06 2008-01-30
189  238762.27  231799.530  236462.690 2008-01-05 2008-01-30
190  232312.94  221358.730  227424.690 2008-01-04 2008-01-30
191  221358.73  197305.640  209250.620 2008-01-03 2008-01-30
192  195605.78  170242.080  182768.980 2008-01-02 2008-01-30
193  169548.00  132976.250  149982.520 2008-01-01 2008-01-30
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
        Maxima      Minima       Media       Data time_start
170  117674.99   83006.336   95929.790 2009-01-12 2009-01-21
171   97208.53   83006.336   92094.570 2009-01-11 2009-01-21
172  145674.66   95628.100  116156.516 2009-01-10 2009-01-21
173  201209.39  148555.170  177851.360 2009-01-09 2009-01-21
174  234885.61  202925.280  220031.600 2009-01-08 2009-01-21
175  252628.00  235917.310  244172.900 2009-01-07 2009-01-21
176  258725.90  253156.330  255433.830 2009-01-06 2009-01-21
177  258725.90  253156.330  255941.640 2009-01-05 2009-01-21
178  250518.38  235401.270  242839.620 2009-01-04 2009-01-21
179  234885.61  208597.280  223204.300 2009-01-03 2009-01-21
180  207112.61  176765.520  192204.550 2009-01-02 2009-01-21
181  175127.00  141799.310  157989.100 2009-01-01 2009-01-21
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
        Maxima     Minima     Media       Data time_start
169  150003.34  119572.95  135939.5 2010-01-01 2010-01-02
        Maxima     Minima      Media       Data time_start
158  105436.84   81847.30   94096.49 2010-01-12 2010-03-07
159   83172.41   74224.86   78891.83 2010-01-11 2010-03-07
160   88042.47   74384.12   81948.52 2010-01-10 2010-03-07
161  148348.72   90259.18  117073.92 2010-01-09 2010-03-07
162  191738.84  151040.98  173739.78 2010-01-08 2010-03-07
163  213322.00  192944.50  203800.66 2010-01-07 2010-03-07
164  224905.84  214071.23  221079.90 2010-01-06 2010-03-07
165  225922.75  216324.17  221372.42 2010-01-05 2010-03-07
166  215572.31  184558.10  200770.28 2010-01-04 2010-03-07
167  183370.20  169085.80  175569.62 2010-01-03 2010-03-07
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
         Maxima      Minima       Media       Data time_start
146  121290.836   96680.640  107243.440 2011-01-12 2011-01-17
147   97561.055   92150.950   94759.250 2011-01-11 2011-01-17
148  101112.530   87703.270   92006.766 2011-01-10 2011-01-17
149  171633.060  102366.766  137126.530 2011-01-09 2011-01-17
150  208102.000  174426.330  192724.840 2011-01-08 2011-01-17
151  228471.690  208845.080  220530.840 2011-01-07 2011-01-17
152  237726.420  228727.110  234521.160 2011-01-06 2011-01-17
153  237467.690  229493.940  234316.500 2011-01-05 2011-01-17
154  229238.230  203662.140  217007.730 2011-01-04 2011-01-17
155  203170.800  171400.970  187741.920 2011-01-03 2011-01-17
156  170937.100  137361.220  153625.440 2011-01-02 2011-01-17
157  135560.920  105982.150  119032.530 2011-01-01 2011-01-17
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
        Maxima      Minima      Media       Data time_start
134  105800.26   82840.380   94122.20 2012-01-12 2012-01-26
135   88722.33   81352.445   85304.39 2012-01-11 2012-01-26
136  114849.46   87703.270   95232.87 2012-01-10 2012-01-26
137  176531.12  116730.290  145363.48 2012-01-09 2012-01-26
138  217076.89  177938.980  199593.08 2012-01-08 2012-01-26
139  235143.39  218081.880  227576.50 2012-01-07 2012-01-26
140  249465.78  235917.310  244368.90 2012-01-06 2012-01-26
141  254214.08  247889.660  251634.44 2012-01-05 2012-01-26
142  247627.30  234112.810  241526.27 2012-01-04 2012-01-26
143  233855.40  208597.280  222932.77 2012-01-03 2012-01-26
144  207359.81  170473.640  188614.36 2012-01-02 2012-01-26
145  169085.80  122057.280  144004.77 2012-01-01 2012-01-26
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
        Maxima     Minima       Media       Data time_start
127  235143.39  216574.98  225961.100 2013-01-07 2013-01-08
128  248152.11  235143.39  241516.340 2013-01-06 2013-01-08
129  248152.11  236950.52  243701.400 2013-01-05 2013-01-08
130  235917.31  221611.48  230001.030 2013-01-04 2013-01-08
131  220348.73  185986.92  203846.170 2013-01-03 2013-01-08
132  184320.31  150418.08  166449.660 2013-01-02 2013-01-08
133  149796.14  106893.33  127891.984 2013-01-01 2013-01-08
        Maxima      Minima      Media       Data time_start
122  144855.53  122825.540  133732.39 2013-01-12 2013-02-12
123  121482.27  110752.125  116106.17 2013-01-11 2013-02-12
124  149589.05  110567.210  129485.97 2013-01-10 2013-02-12
125  185033.97  150833.230  169978.11 2013-01-09 2013-02-12
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
        Maxima     Minima       Media       Data time_start
110  134564.61  118622.55  127103.266 2014-01-12 2014-02-02
111  118432.81  112793.82  114904.380 2014-01-11 2014-02-02
112  158346.22  114100.34  134189.050 2014-01-10 2014-02-02
113  203662.14  160384.52  183305.770 2014-01-09 2014-02-02
114  232312.94  204892.23  219954.470 2014-01-08 2014-02-02
115  245531.72  233083.75  240001.160 2014-01-07 2014-02-02
116  253420.62  245531.72  250311.200 2014-01-06 2014-02-02
117  253420.62  246840.75  251336.380 2014-01-05 2014-02-02
118  246055.06  228982.62  237913.110 2014-01-04 2014-02-02
119  227706.02  192944.50  211697.140 2014-01-03 2014-02-02
120  192220.81  166091.81  179637.940 2014-01-02 2014-02-02
121  164945.03  146290.12  156029.890 2014-01-01 2014-02-02
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
        Maxima     Minima       Media       Data time_start
98    92669.45   84672.68   88527.070 2015-01-12 2015-02-10
99    87703.27   81352.44   83895.410 2015-01-11 2015-02-10
100  159477.53   86014.67  117282.125 2015-01-10 2015-02-10
101  203907.97  161748.19  184740.610 2015-01-09 2015-02-10
102  229238.23  204646.02  218202.340 2015-01-08 2015-02-10
103  242139.10  229749.73  236711.470 2015-01-07 2015-02-10
104  247102.84  242399.52  245393.300 2015-01-06 2015-02-10
105  247627.30  234112.81  242934.230 2015-01-05 2015-02-10
106  233598.10  215822.84  226071.000 2015-01-04 2015-02-10
107  214071.23  185033.95  199477.330 2015-01-03 2015-02-10
108  184558.10  158346.22  171744.810 2015-01-02 2015-02-10
109  157443.10  134763.66  144713.670 2015-01-01 2015-02-10
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
       Maxima     Minima       Media       Data time_start
86  111678.43   91461.33   96802.720 2016-01-12 2016-02-23
87   98444.46   94405.61   95683.020 2016-01-11 2016-02-23
88  112235.61   94057.41   99565.130 2016-01-10 2016-02-23
89  160611.53  114100.34  139253.920 2016-01-09 2016-02-23
90  185272.05  161748.19  174571.920 2016-01-08 2016-02-23
91  196333.69  185748.53  192355.050 2016-01-07 2016-02-23
92  199986.73  197062.50  198417.900 2016-01-06 2016-02-23
93  199254.31  189095.30  195981.950 2016-01-05 2016-02-23
94  188615.97  166321.48  180133.400 2016-01-04 2016-02-23
95  164945.05  123017.89  141678.620 2016-01-03 2016-02-23
96  123402.92  117296.77  120987.170 2016-01-02 2016-02-23
97  118053.67   90945.39  104490.164 2016-01-01 2016-02-23
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
       Maxima     Minima       Media       Data time_start
74  121673.83  105255.31  112575.016 2017-01-12 2017-02-01
75  104349.40   89574.91   97898.664 2017-01-11 2017-02-01
76   97384.73   89916.80   93452.840 2017-01-10 2017-02-01
77  161293.20   99508.47  129270.560 2017-01-09 2017-02-01
78  204153.88  163344.02  186544.830 2017-01-08 2017-02-01
79  224144.17  205138.56  215184.360 2017-01-07 2017-02-01
80  236175.47  224905.84  230579.560 2017-01-06 2017-02-01
81  241878.80  236175.47  239609.300 2017-01-05 2017-02-01
82  238762.27  224651.84  232152.140 2017-01-04 2017-02-01
83  223636.86  196576.52  211548.110 2017-01-03 2017-02-01
84  195605.78  161748.19  180012.120 2017-01-02 2017-02-01
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
       Maxima     Minima      Media       Data time_start
62  148555.17  102726.19  127534.44 2018-01-12 2018-02-17
63  101291.35   88722.33   92585.71 2018-01-11 2018-02-17
64  143018.88   91289.23  114253.72 2018-01-10 2018-02-17
65  180293.70  144651.03  163659.48 2018-01-09 2018-02-17
66  208102.00  181474.92  195694.34 2018-01-08 2018-02-17
67  220853.55  208597.30  215225.45 2018-01-07 2018-02-17
68  225414.11  221358.73  224026.56 2018-01-06 2018-02-17
69  224905.84  214071.23  220154.36 2018-01-05 2018-02-17
70  213571.66  193427.47  203964.75 2018-01-04 2018-02-17
71  192703.17  184082.62  189881.39 2018-01-03 2018-02-17
72  183370.20  151664.84  167469.38 2018-01-02 2018-02-17
73  150625.61  123017.89  137854.45 2018-01-01 2018-02-17
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
       Maxima     Minima       Media       Data time_start
50  147318.08  118812.40  130876.945 2019-01-12 2019-01-23
51  118053.67  102726.19  107854.100 2019-01-11 2019-01-23
52  141393.67  101649.35  114994.470 2019-01-10 2019-01-23
53  191016.66  143630.12  170109.310 2019-01-09 2019-01-23
54  218584.95  191979.77  207002.030 2019-01-08 2019-01-23
55  237726.44  219088.40  230597.830 2019-01-07 2019-01-23
56  245008.75  238244.16  242905.770 2019-01-06 2019-01-23
57  242920.62  233855.40  238402.020 2019-01-05 2019-01-23
58  233598.10  216825.88  225632.300 2019-01-04 2019-01-23
59  217327.98  201454.22  209447.560 2019-01-03 2019-01-23
60  200964.66  176062.67  187304.450 2019-01-02 2019-01-23
61  175828.60  149175.17  162955.970 2019-01-01 2019-01-23
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
       Maxima     Minima      Media       Data time_start
38  124754.08   93709.70  106603.39 2020-01-12 2020-02-07
39   92323.66   84004.65   87845.88 2020-01-11 2020-02-07
40  108173.89   87026.35   93271.03 2020-01-10 2020-02-07
41  175127.00  110197.73  144868.08 2020-01-09 2020-02-07
42  206618.52  176062.67  192904.89 2020-01-08 2020-02-07
43  225668.38  207112.61  217369.19 2020-01-07 2020-02-07
44  233598.10  226431.78  230915.03 2020-01-06 2020-02-07
45  232312.94  220853.55  227985.67 2020-01-05 2020-02-07
46  220348.73  203662.14  211845.12 2020-01-04 2020-02-07
47  203416.44  184320.31  192962.17 2020-01-03 2020-02-07
48  183607.58  171865.25  177231.72 2020-01-02 2020-02-07
49  172795.10  148142.38  162904.94 2020-01-01 2020-02-07
Empty DataFrame
Columns: [Maxima, Minima, Media, Data, time_start]
Index: []
Empty DataFrame

In [8]:
def set_period(row):
  return df_period_limits.loc[df_period_limits['date'] == row['time_start']]['type'].values[0]

df['WATER_PERIOD'] = df.apply(set_period,axis=1)

df=df.replace('LW_to_R', 'R')
df=df.replace('R_to_HW', 'HW')
df=df.replace('HW_to_F', 'F')
df=df.replace('F_to_LW', 'LW')
df=df.replace('F_to_L', 'LW')
df

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
df_discharge = df[['EstacaoCodigo','Data',  'Maxima', 'Minima', 'Media','water_period',
'start_month','year']].copy()
df_discharge.describe()

,EstacaoCodigo,Maxima,Minima,Media,start_month,year
count,674.0,661.000000,661.000000,673.000000,674.000000,674.000000
mean,17050001.0,179260.637598,158070.055555,168624.140530,5.464392,1995.597923
std,0.0,45048.747056,48336.029515,46952.358378,3.356404,16.247713
min,17050001.0,61237.440000,50618.246000,54955.098000,1.000000,1968.000000
25%,17050001.0,144038.160000,114100.340000,127891.984000,1.000000,1982.000000
50%,17050001.0,185272.050000,159477.530000,174545.230000,4.000000,1996.000000
75%,17050001.0,217327.980000,200964.660000,209988.800000,7.000000,2010.000000
max,17050001.0,274744.220000,269368.660000,272205.200000,10.000000,2024.000000

In [ ]:
df_discharge['Data']=pd.to_datetime(df_discharge['Data'],format="%d/%m/%Y")

In [ ]:
df_discharge.dtypes

EstacaoCodigo             int64
Data             datetime64[ns]
Maxima                  float64
Minima                  float64
Media                   float64
water_period             object
start_month               int64
year                      int64
dtype: object

In [ ]:
df_discharge.head()

,EstacaoCodigo,Data,Maxima,Minima,Media,water_period,start_month,year
0,17050001,2024-10-01,61237.44,50618.246,54955.098,LW,10,2024
1,17050001,2024-04-01,199498.36,171633.060,185468.000,HW,4,2024
2,17050001,2024-03-01,171400.97,150210.660,161591.580,R,1,2024
3,17050001,2024-02-01,149589.05,131000.770,140958.220,R,1,2024
4,17050001,2024-01-01,130607.01,101291.350,117846.250,R,1,2024

In [ ]:
df_discharge = df_discharge.loc[(df_discharge['Data'] > pd.to_datetime('2000-01-01')) & (df_discharge['Data'] < pd.to_datetime('2025-01-01'))]
df_discharge

,EstacaoCodigo,Data,Maxima,Minima,Media,water_period,start_month,year
0,17050001,2024-10-01,61237.44,50618.246,54955.098,LW,10,2024
1,17050001,2024-04-01,199498.36,171633.060,185468.000,HW,4,2024
2,17050001,2024-03-01,171400.97,150210.660,161591.580,R,1,2024
3,17050001,2024-02-01,149589.05,131000.770,140958.220,R,1,2024
4,17050001,2024-01-01,130607.01,101291.350,117846.250,R,1,2024
...,...,...,...,...,...,...,...,...
284,17050001,2000-06-01,231542.98,223636.860,227736.890,HW,4,2000
285,17050001,2000-05-01,230773.88,220601.100,227064.900,HW,4,2000
286,17050001,2000-04-01,219844.31,196090.950,208611.500,HW,4,2000
287,17050001,2000-03-01,195848.31,165403.440,181084.640,R,1,2000
288,17050001,2000-02-01,166091.81,140179.340,153418.560,R,1,2000

In [ ]:
aggregated_data = df_discharge.groupby(['water_period', 'year','start_month']).agg(
    Maxima=('Maxima', 'mean'),
    Minima=('Minima', 'mean'),
    Media=('Media', 'mean')
).sort_values(by=['year','start_month'])

In [ ]:
aggregated_data

                                      Maxima         Minima          Media
water_period year start_month
R            2000 1            180970.060000  152791.390000  167251.600000
HW           2000 4            227387.056667  213442.970000  221137.763333
F            2000 7            210227.493333  187716.696667  199513.620000
LW           2000 10           131677.151667  112206.038667  119414.215000
R            2001 1            180008.923333  151748.301667  165210.756667
...                                      ...            ...            ...
F            2023 7            193004.146667  150315.096667  174020.018667
LW           2023 10            86783.280000   63105.949667   71733.411333
R            2024 1            150532.343333  127500.926667  140132.016667
HW           2024 4            199498.360000  171633.060000  185468.000000
LW           2024 10            61237.440000   50618.246000   54955.098000

[98 rows x 3 columns]

In [ ]:
aggregated_data.to_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/Parameters Time series/mean_watershed_discharge.csv')

In [ ]:
view = pd.read_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/Parameters Time series/mean_watershed_discharge.csv')
view

,water_period,year,start_month,Maxima,Minima,Media
0,R,2000,1,180970.060000,152791.390000,167251.600000
1,HW,2000,4,227387.056667,213442.970000,221137.763333
2,F,2000,7,210227.493333,187716.696667,199513.620000
3,LW,2000,10,131677.151667,112206.038667,119414.215000
4,R,2001,1,180008.923333,151748.301667,165210.756667
...,...,...,...,...,...,...
93,F,2023,7,193004.146667,150315.096667,174020.018667
94,LW,2023,10,86783.280000,63105.949667,71733.411333
95,R,2024,1,150532.343333,127500.926667,140132.016667
96,HW,2024,4,199498.360000,171633.060000,185468.000000
97,LW,2024,10,61237.440000,50618.246000,54955.098000