<a href="https://colab.research.google.com/github/larissavaladao/time_series_curuai/blob/main/5.%20parameters_by_period/5.discharge_timeseries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import and install packages

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# import data

In [46]:
#vou precisar mudar a lógica para agregar, pegando os dias em vez das medias mensais no caso das cotas

# import discharge database
df = pd.read_csv('/content/drive/MyDrive/CURUAI_PROCESS/17050001_Vazoes.csv')#.dropna(subset=['Maxima','Media', 'Minima'])
# df = pd.read_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/HydroWeb/17050001_Vazoes.csv')
df['Data'] = pd.to_datetime(df['Data'],dayfirst=True)

df = df[['Data', 'Vazao01', 'Vazao02', 'Vazao03',
       'Vazao04', 'Vazao05', 'Vazao06', 'Vazao07', 'Vazao08', 'Vazao09',
       'Vazao10', 'Vazao11', 'Vazao12', 'Vazao13', 'Vazao14', 'Vazao15',
       'Vazao16', 'Vazao17', 'Vazao18', 'Vazao19', 'Vazao20', 'Vazao21',
       'Vazao22', 'Vazao23', 'Vazao24', 'Vazao25', 'Vazao26', 'Vazao27',
       'Vazao28', 'Vazao29', 'Vazao30', 'Vazao31','Maxima','Media', 'Minima']].copy()
df

,Data,Vazao01,Vazao02,Vazao03,Vazao04,Vazao05,Vazao06,Vazao07,Vazao08,Vazao09,...,Vazao25,Vazao26,Vazao27,Vazao28,Vazao29,Vazao30,Vazao31,Maxima,Media,Minima
0,2024-12-01,70882.820,71476.32,72471.990,73677.580,73906.730,73906.730,73677.580,75022.44,75823.200,...,90945.390,92496.49,93536.016,94928.810,96504.920,98267.540,99864.100,99864.100,83155.860,70882.820
1,2024-11-01,54925.973,55607.24,55436.457,56293.480,55949.740,54418.280,53078.055,51757.56,51921.547,...,65484.040,66239.82,67000.750,67766.820,68731.670,69509.370,NaN,69509.370,60805.510,51757.560
2,2024-10-01,61237.440,60695.93,59443.450,60516.055,60876.117,59799.723,57680.938,55949.74,54756.430,...,54081.367,53244.50,52911.914,53078.055,52911.914,52415.348,53745.695,61237.440,54955.098,50618.246
3,2024-09-01,121290.836,119002.37,116919.000,115224.710,112793.820,110567.210,108357.290,105982.15,103446.440,...,70292.250,67383.14,65108.066,63432.030,61963.895,61781.805,NaN,121290.836,89971.480,61781.805
4,2024-08-01,173959.730,172562.48,171168.980,169779.250,168854.860,167932.160,166551.270,165403.44,163800.900,...,138566.360,136760.12,134365.690,131592.250,129232.336,126499.380,124174.336,173959.730,152110.640,124174.336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,1968-05-01,186702.720,187419.42,187897.730,190055.170,191257.300,191738.840,192220.810,193427.47,193910.830,...,201699.140,202925.28,203170.800,203907.970,203662.140,203416.420,203907.970,203907.970,197769.300,186702.720
677,1968-04-01,164029.530,164487.08,164487.080,164716.000,165632.780,166091.810,166551.270,166551.27,167011.140,...,181711.470,182184.88,182895.770,183607.580,184082.620,185510.230,NaN,185510.230,173898.780,164029.530
678,1968-03-01,147523.980,147318.08,147523.980,147936.140,147936.140,147730.000,147318.080,147936.14,148761.730,...,160838.640,161520.64,161975.840,162659.450,163344.000,163572.400,164029.530,164029.530,154791.720,147318.080
679,1968-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140786.020,143018.88,143426.270,144446.620,146084.860,NaN,NaN,NaN,NaN,NaN
680,1968-01-01,103000.000,105000.00,106000.000,106000.000,106000.000,107000.000,107000.000,107000.00,107000.000,...,115000.000,116000.00,117000.000,117000.000,118000.000,119000.000,120000.000,120000.000,110677.420,103000.000

#adicionar periodos por mes

In [ ]:
def add_period(row):
    if row['Data'][3:5] == '01' or row['Data'][3:5] == '02' or row['Data'][3:5] == '03':
        val = 'R'
    elif row['Data'][3:5] == '04' or row['Data'][3:5] == '05' or row['Data'][3:5] == '06':
        val = 'HW'
    elif row['Data'][3:5] == '07' or row['Data'][3:5] == '08' or row['Data'][3:5] == '09':
        val = 'F'
    else:
        val = 'LW'
    return val

def add_start_period(row):
    if row['Data'][3:5] == '01' or row['Data'][3:5] == '02' or row['Data'][3:5] == '03':
        val = 1
    elif row['Data'][3:5] == '04' or row['Data'][3:5] == '05' or row['Data'][3:5] == '06':
        val = 4
    elif row['Data'][3:5] == '07' or row['Data'][3:5] == '08' or row['Data'][3:5] == '09':
        val = 7
    else:
        val = 10
    return val

def add_start_year(row):
    return int(row['Data'][6:10])

In [ ]:
df['water_period'] = df.apply(add_period, axis=1)
df['start_month'] = df.apply(add_start_period, axis=1)
df['year'] = df.apply(add_start_year, axis=1)
df

,EstacaoCodigo,NivelConsistencia,Data,Hora,MediaDiaria,MetodoObtencaoVazoes,Maxima,Minima,Media,DiaMaxima,...,Vazao25Status,Vazao26Status,Vazao27Status,Vazao28Status,Vazao29Status,Vazao30Status,Vazao31Status,water_period,start_month,year
0,17050001,1,01/10/2024,NaN,1,1,61237.44,50618.246,54955.098,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LW,10,2024
1,17050001,1,01/04/2024,NaN,1,1,199498.36,171633.060,185468.000,30.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,HW,4,2024
2,17050001,1,01/03/2024,NaN,1,1,171400.97,150210.660,161591.580,31.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R,1,2024
3,17050001,1,01/02/2024,NaN,1,1,149589.05,131000.770,140958.220,29.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,R,1,2024
4,17050001,1,01/01/2024,NaN,1,1,130607.01,101291.350,117846.250,31.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R,1,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,17050001,2,01/05/1968,NaN,1,1,203907.97,186702.720,197769.300,28.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,HW,4,1968
670,17050001,2,01/04/1968,NaN,1,1,185510.23,164029.530,173898.780,30.0,...,1.0,1.0,1.0,1.0,1.0,1.0,NaN,HW,4,1968
671,17050001,2,01/03/1968,NaN,1,1,164029.53,147318.080,154791.720,31.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,R,1,1968
672,17050001,2,01/02/1968,NaN,1,1,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,R,1,1968
673,17050001,2,01/01/1968,NaN,1,1,120000.00,103000.000,110677.420,31.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,R,1,1968

## Agregar por mes

In [ ]:
df_discharge = df[['EstacaoCodigo','Data',  'Maxima', 'Minima', 'Media','water_period',
'start_month','year']].copy()
df_discharge.describe()

,Data,day,month,year,longitude,latitude,media_vazao
count,100,100.000000,100.000000,100.000000,1.000000e+02,1.000000e+02,100.000000
mean,2012-05-07 18:51:51.887551744,15.670000,6.380000,2011.860000,-5.551310e+01,-1.919200e+00,162010.813447
min,2000-01-13 10:43:38.181818240,1.000000,1.000000,2000.000000,-5.551310e+01,-1.919200e+00,100246.712936
25%,2006-01-23 09:53:06.061016960,7.000000,2.000000,2005.750000,-5.551310e+01,-1.919200e+00,138800.780412
50%,2012-05-04 11:31:12,16.500000,8.000000,2012.000000,-5.551310e+01,-1.919200e+00,163826.842264
75%,2018-08-23 02:21:44.215700992,24.000000,9.000000,2018.000000,-5.551310e+01,-1.919200e+00,184859.775743
max,2024-05-30 21:51:25.714285824,31.000000,12.000000,2024.000000,-5.551310e+01,-1.919200e+00,228570.401542
std,NaN,9.407771,3.818562,7.244671,5.712979e-14,1.785306e-15,30431.903447

In [ ]:
df_discharge['Data']=pd.to_datetime(df_discharge['Data'],format="%d/%m/%Y")

In [ ]:
df_media_vazao.dtypes

Data            datetime64[ns]
type                    object
day                      int32
month                    int32
year                     int32
longitude              float64
latitude               float64
time_start              object
water_period            object
media_vazao            float64
dtype: object

In [ ]:
df_media_vazao.head()

,Data,type,day,month,year,longitude,latitude,time_start,water_period,media_vazao
0,2000-01-13 10:43:38.181818240,LW_to_R,13,1,2000,-55.5131,-1.9192,2000-01-13,R,149214.789000
1,2000-02-29 18:17:42.295081984,R_to_HW,29,2,2000,-55.5131,-1.9192,2000-02-29,HW,183025.310285
2,2000-08-24 20:45:42.857142784,HW_to_F,24,8,2000,-55.5131,-1.9192,2000-08-24,F,169613.685000
3,2000-09-28 10:23:44.598930432,F_to_LW,28,9,2000,-55.5131,-1.9192,2000-09-28,LW,136244.920211
4,2001-01-05 16:27:54.418604672,LW_to_R,5,1,2001,-55.5131,-1.9192,2001-01-05,R,149854.912953

In [ ]:
df_discharge = df_discharge.loc[(df_discharge['Data'] > pd.to_datetime('2000-01-01')) & (df_discharge['Data'] < pd.to_datetime('2025-01-01'))]
df_discharge

,EstacaoCodigo,Data,Maxima,Minima,Media,water_period,start_month,year
0,17050001,2024-10-01,61237.44,50618.246,54955.098,LW,10,2024
1,17050001,2024-04-01,199498.36,171633.060,185468.000,HW,4,2024
2,17050001,2024-03-01,171400.97,150210.660,161591.580,R,1,2024
3,17050001,2024-02-01,149589.05,131000.770,140958.220,R,1,2024
4,17050001,2024-01-01,130607.01,101291.350,117846.250,R,1,2024
...,...,...,...,...,...,...,...,...
284,17050001,2000-06-01,231542.98,223636.860,227736.890,HW,4,2000
285,17050001,2000-05-01,230773.88,220601.100,227064.900,HW,4,2000
286,17050001,2000-04-01,219844.31,196090.950,208611.500,HW,4,2000
287,17050001,2000-03-01,195848.31,165403.440,181084.640,R,1,2000
288,17050001,2000-02-01,166091.81,140179.340,153418.560,R,1,2000

In [ ]:
aggregated_data = df_discharge.groupby(['water_period', 'year','start_month']).agg(
    Maxima=('Maxima', 'mean'),
    Minima=('Minima', 'mean'),
    Media=('Media', 'mean')
).sort_values(by=['year','start_month'])

In [ ]:
aggregated_data

                                      Maxima         Minima          Media
water_period year start_month
R            2000 1            180970.060000  152791.390000  167251.600000
HW           2000 4            227387.056667  213442.970000  221137.763333
F            2000 7            210227.493333  187716.696667  199513.620000
LW           2000 10           131677.151667  112206.038667  119414.215000
R            2001 1            180008.923333  151748.301667  165210.756667
...                                      ...            ...            ...
F            2023 7            193004.146667  150315.096667  174020.018667
LW           2023 10            86783.280000   63105.949667   71733.411333
R            2024 1            150532.343333  127500.926667  140132.016667
HW           2024 4            199498.360000  171633.060000  185468.000000
LW           2024 10            61237.440000   50618.246000   54955.098000

[98 rows x 3 columns]

In [ ]:
aggregated_data.to_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/Parameters Time series/mean_watershed_discharge.csv')

In [ ]:
view = pd.read_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/Parameters Time series/mean_watershed_discharge.csv')
view

,water_period,year,start_month,Maxima,Minima,Media
0,R,2000,1,180970.060000,152791.390000,167251.600000
1,HW,2000,4,227387.056667,213442.970000,221137.763333
2,F,2000,7,210227.493333,187716.696667,199513.620000
3,LW,2000,10,131677.151667,112206.038667,119414.215000
4,R,2001,1,180008.923333,151748.301667,165210.756667
...,...,...,...,...,...,...
93,F,2023,7,193004.146667,150315.096667,174020.018667
94,LW,2023,10,86783.280000,63105.949667,71733.411333
95,R,2024,1,150532.343333,127500.926667,140132.016667
96,HW,2024,4,199498.360000,171633.060000,185468.000000
97,LW,2024,10,61237.440000,50618.246000,54955.098000

# adicionar periodos por cota obidos

In [47]:
df['month'] = df['Data'].dt.month
df['year'] = df['Data'].dt.year
df['day'] = df['Data'].dt.day
df

,Data,Vazao01,Vazao02,Vazao03,Vazao04,Vazao05,Vazao06,Vazao07,Vazao08,Vazao09,...,Vazao28,Vazao29,Vazao30,Vazao31,Maxima,Media,Minima,month,year,day
0,2024-12-01,70882.820,71476.32,72471.990,73677.580,73906.730,73906.730,73677.580,75022.44,75823.200,...,94928.810,96504.920,98267.540,99864.100,99864.100,83155.860,70882.820,12,2024,1
1,2024-11-01,54925.973,55607.24,55436.457,56293.480,55949.740,54418.280,53078.055,51757.56,51921.547,...,67766.820,68731.670,69509.370,NaN,69509.370,60805.510,51757.560,11,2024,1
2,2024-10-01,61237.440,60695.93,59443.450,60516.055,60876.117,59799.723,57680.938,55949.74,54756.430,...,53078.055,52911.914,52415.348,53745.695,61237.440,54955.098,50618.246,10,2024,1
3,2024-09-01,121290.836,119002.37,116919.000,115224.710,112793.820,110567.210,108357.290,105982.15,103446.440,...,63432.030,61963.895,61781.805,NaN,121290.836,89971.480,61781.805,9,2024,1
4,2024-08-01,173959.730,172562.48,171168.980,169779.250,168854.860,167932.160,166551.270,165403.44,163800.900,...,131592.250,129232.336,126499.380,124174.336,173959.730,152110.640,124174.336,8,2024,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,1968-05-01,186702.720,187419.42,187897.730,190055.170,191257.300,191738.840,192220.810,193427.47,193910.830,...,203907.970,203662.140,203416.420,203907.970,203907.970,197769.300,186702.720,5,1968,1
677,1968-04-01,164029.530,164487.08,164487.080,164716.000,165632.780,166091.810,166551.270,166551.27,167011.140,...,183607.580,184082.620,185510.230,NaN,185510.230,173898.780,164029.530,4,1968,1
678,1968-03-01,147523.980,147318.08,147523.980,147936.140,147936.140,147730.000,147318.080,147936.14,148761.730,...,162659.450,163344.000,163572.400,164029.530,164029.530,154791.720,147318.080,3,1968,1
679,1968-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,144446.620,146084.860,NaN,NaN,NaN,NaN,NaN,2,1968,1
680,1968-01-01,103000.000,105000.00,106000.000,106000.000,106000.000,107000.000,107000.000,107000.00,107000.000,...,117000.000,118000.000,119000.000,120000.000,120000.000,110677.420,103000.000,1,1968,1

In [48]:
#import period dates
df_period_limits = pd.read_csv('/content/drive/MyDrive/CURUAI_PROCESS/water_period_limits.csv').drop(columns=['Unnamed: 0'])
df_period_limits['time_start'] = df_period_limits['Data'].apply(lambda x : x[0:10])
df_period_limits['Data'] = pd.to_datetime(df_period_limits['Data'])
#
# df_period_limits['date'] = pd.to_datetime(df_period_limits['date'])
df_period_limits['month'] = df_period_limits['Data'].dt.month
df_period_limits['year'] = df_period_limits['Data'].dt.year
df_period_limits['day'] = df_period_limits['Data'].dt.day

df_period_limits

,Data,type,day,month,year,longitude,latitude,time_start
0,2000-01-13 10:43:38.181818240,LW_to_R,13,1,2000,-55.5131,-1.9192,2000-01-13
1,2000-02-29 18:17:42.295081984,R_to_HW,29,2,2000,-55.5131,-1.9192,2000-02-29
2,2000-08-24 20:45:42.857142784,HW_to_F,24,8,2000,-55.5131,-1.9192,2000-08-24
3,2000-09-28 10:23:44.598930432,F_to_LW,28,9,2000,-55.5131,-1.9192,2000-09-28
4,2001-01-05 16:27:54.418604672,LW_to_R,5,1,2001,-55.5131,-1.9192,2001-01-05
...,...,...,...,...,...,...,...,...
95,2023-08-25 18:37:31.737451520,F_to_LW,25,8,2023,-55.5131,-1.9192,2023-08-25
96,2024-01-26 18:57:28.739495680,LW_to_R,26,1,2024,-55.5131,-1.9192,2024-01-26
97,2024-03-25 23:32:02.330097152,R_to_HW,25,3,2024,-55.5131,-1.9192,2024-03-25
98,2024-04-06 10:42:51.428571648,HW_to_F,6,4,2024,-55.5131,-1.9192,2024-04-06
99,2024-05-30 21:51:25.714285824,F_to_L,30,5,2024,-55.5131,-1.9192,2024-05-30

In [49]:
import numpy as np
import math
# print()
# df
# df_period_limits

#avaliar se dá ruim quando o periodo se inicia em um ano e termina em outro

# def set_period(row):
#   return df_period_limits.loc[(df_period_limits['month'] == row['month'])&(df_period_limits['year'] == row['year'])]['type'].values[0]
lista_periodo = []
lista_media_vazao = []
for i in range(0,len(df_period_limits)-1):
# for i in range(0,5):
  if df_period_limits['year'][i+1] == df_period_limits['year'][i]:
    x = df.loc[df['year'] >= df_period_limits['year'][i] ].copy()
    x = x.loc[x['year'] <= df_period_limits['year'][i+1]].copy()
    x = x.loc[x['month'] >= df_period_limits['month'][i] ].copy()
    x = x.loc[x['month'] <= df_period_limits['month'][i+1]].copy()
    x = x.drop(columns=['Data','year','month','day','Maxima','Media','Minima'])
    print( len(x))
    print(x)
    print(str('Vazao')+str(df_period_limits['day'][i]))
    print(str('Vazao')+str(df_period_limits['day'][i+1]))

  else:
    x = df.loc[df['year'] == df_period_limits['year'][i] ].copy()
    x = x.loc[x['month'] >= df_period_limits['month'][i] ].copy()



    y = df.loc[df['year'] == df_period_limits['year'][i+1]].copy()
    y = y.loc[y['month'] <= df_period_limits['month'][i+1]].copy()


    x = pd.concat([x,y]).drop(columns=['Data','year','month','day','Maxima','Media','Minima'])
    print( len(x))
    print(x)
    print(str('Vazao')+str(df_period_limits['day'][i]))
    print(str('Vazao')+str(df_period_limits['day'][i+1]))




  lista_periodo.append(df_period_limits['type'][i])

  lista_dias = []
  x_1 = x[0:1].copy()
  # print(x_1)
  for j in range(int(df_period_limits['day'][i]),31):
    # print(j)
    if j < 10:
      media1 = x_1[str('Vazao0')+str(j)].mean()
      lista_dias.append(media1)

    else:
      media1 = x_1[str('Vazao')+str(j)].mean()
      lista_dias.append(media1)
  # print(lista_dias)
  x_2 = x[-1:].copy()
    # print(x_2)
  for k in range(int(df_period_limits['day'][i+1]),31):
        # print(k)
    if k < 10:
      media2 = x_2[str('Vazao0')+str(k)]
      lista_dias.append(media2.mean())
      # print(media2)
    else:
      media2 = x_2[str('Vazao')+str(k)]
      lista_dias.append(media2.mean())
      # print(media2)
  cleaned = [x for x in lista_dias if not (isinstance(x, float) and math.isnan(x))]
  cleaned_mean = sum(cleaned)/len(lista_dias)


  if len(x) > 2:
    media = x[1:-1].mean(axis=1).mean()
    cleaned_mean = (media + cleaned_mean)/2

  lista_media_vazao.append(cleaned_mean)


    # print(lista_media_vazao)
  print(lista_periodo)
  print()
    #

    # periodo = str(df_period_limits['type'][i])
    # print(periodo)

2
       Vazao01    Vazao02     Vazao03   Vazao04    Vazao05    Vazao06  \
295  140179.34  140786.02  141393.670  142002.3  143630.12  144855.53
296  107258.62  108357.29  110752.125  112235.6  113353.07  115037.03

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
295  146084.86  147318.08  148142.38  148968.39  ...  161293.20  161975.84
296  116730.29  118243.19  119572.95  120335.32  ...  134365.69  135960.22

       Vazao24    Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
295  163344.00  164258.25  165174.19  165632.78  165632.78  166091.81
296  137160.75  138767.60  139371.97  139573.66  139371.97  139573.66

       Vazao30    Vazao31
295        NaN        NaN
296  139573.66  140179.34

[2 rows x 31 columns]
Vazao13
Vazao29
['LW_to_R']

7
       Vazao01    Vazao02    Vazao03    Vazao04    Vazao05    Vazao06  \
289  214571.20  214321.17  213821.39  213072.45  212573.66  212075.23
290  223383.36  223890.47  223890.47  223890.47  223890.47  223129.94
291  230773.88  231030.16  231286.52  231542.98  231286.52  231030.16
292  220601.10  220601.10  220853.55  221611.48  222117.25  223383.36
293  196090.95  197548.88  198522.81  199010.39  200231.06  201699.14
294  165403.44  165862.25  166321.48  167471.44  169085.80  169779.25
295  140179.34  140786.02  141393.67  142002.30  143630.12  144855.53

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
289  211328.36  210830.90  210085.48  209340.95  ...  199986.73  199254.33
290  223129.94  222623.40  222370.28  221864.31  ...  218584.95  218333.36
291  231542.98  231030.16  230517.70  230005.62  ...  225159.92  225159.92
292  224397.97  224905.84  225414.11  225922.75  ...  230517.70  230773.88
293  202434.53  203170.80  204153.89  204646.02  ...  214321.17  215822.83
294  170705.31  172097.56  173493.56  174192.98  ...  188855.60  189815.06
295  146084.86  147318.08  148142.38  148968.39  ...  161293.20  161975.84

       Vazao24    Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
289  198766.55  197792.20  196576.53  195848.31  194878.77  194152.67
290  218081.88  217327.98  217076.89  216825.89  216574.98  216073.45
291  224905.84  224905.84  224397.97  224397.97  224144.17  223890.47
292  230517.70  230773.88  230773.88  230517.70  230773.88  230773.88
293  216073.45  216574.98  216825.89  218081.88  218584.95  219340.28
294  190776.14  191738.84  192703.17  192944.50  194394.60  194878.77
295  163344.00  164258.25  165174.19  165632.78  165632.78  166091.81

       Vazao30    Vazao31
289  193669.10  192461.94
290  215071.56  214821.34
291  223636.86        NaN
292  230773.88  230773.88
293  219844.31        NaN
294  195121.00  195848.31
295        NaN        NaN

[7 rows x 31 columns]
Vazao29
Vazao24
['LW_to_R', 'R_to_HW']

2
       Vazao01    Vazao02    Vazao03    Vazao04    Vazao05    Vazao06  \
288  192220.81  190776.14  189815.06  188855.60  187419.42  186464.02
289  214571.20  214321.17  213821.39  213072.45  212573.66  212075.23

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
288  185510.23  184795.98  181948.12  180293.70  ...  165862.25  164029.53
289  211328.36  210830.90  210085.48  209340.95  ...  199986.73  199254.33

       Vazao24   Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
288  162659.45  161293.2  159930.81  159024.69  157894.45  156766.90
289  198766.55  197792.2  196576.53  195848.31  194878.77  194152.67

       Vazao30    Vazao31
288  155866.81        NaN
289  193669.10  192461.94

[2 rows x 31 columns]
Vazao24
Vazao28
['LW_to_R', 'R_to_HW', 'HW_to_F']

5
        Vazao01     Vazao02    Vazao03     Vazao04     Vazao05     Vazao06  \
285  110937.160  109828.710  108540.81  106710.860  105618.490  104711.414
286  120526.195  119763.375  117864.27  116541.690  115976.586  115224.710
287  154169.940  153333.200  151664.84  149796.140  147730.000  145469.720
288  192220.810  190776.140  189815.06  188855.600  187419.420  186464.020
284  120335.320  120526.195  120335.32  120144.555  120144.555  120144.555

       Vazao07    Vazao08     Vazao09     Vazao10  ...    Vazao22    Vazao23  \
285  104168.58  103626.80  103086.080  103266.195  ...  110197.73  111492.94
286  114662.01  113913.35  114100.340  114287.450  ...  113726.48  113913.35
287  143426.27  141393.67  139371.970  138164.200  ...  126693.87  125528.65
288  185510.23  184795.98  181948.120  180293.700  ...  165862.25  164029.53
284  120335.32  121099.50  122633.305  124367.480  ...  137561.80  139573.66

       Vazao24    Vazao25    Vazao26    Vazao27    Vazao28     Vazao29  \
285  112980.12  114474.67  116541.69  118053.67  119002.37  119572.950
286  113913.35  113726.48  113539.71  113353.07  112980.12  112607.630
287  124367.48  123981.31  123402.92  123210.34  122825.54  122633.305
288  162659.45  161293.20  159930.81  159024.69  157894.45  156766.900
284  141799.31  143426.27  144038.16  145674.66  147112.27  148761.730

        Vazao30    Vazao31
285  120144.555  120335.32
286  112049.766        NaN
287  122249.180  121482.27
288  155866.810        NaN
284  150210.660  151664.84

[5 rows x 31 columns]
Vazao28
Vazao5
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW']

2
       Vazao01     Vazao02    Vazao03     Vazao04     Vazao05     Vazao06  \
283  152915.47  153542.230  154968.44  156541.720  157894.450  158798.420
284  120335.32  120526.195  120335.32  120144.555  120144.555  120144.555

       Vazao07   Vazao08     Vazao09    Vazao10  ...    Vazao22    Vazao23  \
283  159930.81  161293.2  162659.450  164945.03  ...  175360.75  176296.84
284  120335.32  121099.5  122633.305  124367.48  ...  137561.80  139573.66

       Vazao24    Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
283  177000.00  178644.31  179115.06  180057.77  181002.12        NaN
284  141799.31  143426.27  144038.16  145674.66  147112.27  148761.73

       Vazao30    Vazao31
283        NaN        NaN
284  150210.66  151664.84

[2 rows x 31 columns]
Vazao5
Vazao14
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R']

7
       Vazao01    Vazao02    Vazao03    Vazao04    Vazao05    Vazao06  \
277  200231.06  199498.36  198766.55  198279.19  197305.64  196090.95
278  220853.55  220096.48  220096.48  219844.31  219592.25  218836.62
279  224144.17  223890.47  224397.97  224651.86  223890.47  223890.47
280  224651.86  224651.86  224397.97  224651.86  224651.86  224651.86
281  208349.60  209092.95  209589.03  210085.48  211079.58  211826.19
282  182184.88  183607.58  185033.97  186225.42  187419.42  188376.47
283  152915.47  153542.23  154968.44  156541.72  157894.45  158798.42

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
277  195121.00  194152.67  193427.47  192703.17  ...  180765.88  180529.73
278  218081.88  217830.48  217579.19  216324.17  ...  207854.50  207854.50
279  223890.47  223890.47  223383.36  223383.36  ...  221864.31  221864.31
280  224905.84  225668.38  225668.38  225922.75  ...  224905.84  224905.84
281  212324.40  214071.23  215321.89  216825.89  ...  223383.36  223890.47
282  189575.03  190535.72  191016.67  191979.78  ...  197792.20  198522.81
283  159930.81  161293.20  162659.45  164945.03  ...  175360.75  176296.84

       Vazao24    Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
277  179350.58  178644.31  177234.60  176062.67  173726.61  171865.25
278  207359.81  206865.50  206371.60  205878.08  204892.23  203907.97
279  221864.31  221864.31  221864.31  221611.48  221358.73  221358.73
280  224905.84  224905.84  224651.86  224397.97  224905.84  224651.86
281  224144.17  224144.17  224144.17  224397.97  224651.86  224651.86
282  199498.36  200231.06  201454.22  202189.30  204153.89  205138.55
283  177000.00  178644.31  179115.06  180057.77  181002.12        NaN

       Vazao30    Vazao31
277  170705.31  169316.84
278  203170.80  201454.22
279  220853.55        NaN
280  224397.97  224397.97
281  224651.86        NaN
282  206124.80  207359.81
283        NaN        NaN

[7 rows x 31 columns]
Vazao14
Vazao5
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW']

2
       Vazao01    Vazao02    Vazao03    Vazao04    Vazao05    Vazao06  \
276  167932.16  166551.27  165403.44  164258.25  162659.45  161293.20
277  200231.06  199498.36  198766.55  198279.19  197305.64  196090.95

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
276  160384.52  158572.27  156766.90  154968.44  ...  137361.22  135560.92
277  195121.00  194152.67  193427.47  192703.17  ...  180765.88  180529.73

       Vazao24    Vazao25    Vazao26     Vazao27     Vazao28     Vazao29  \
276  133769.55  131789.64  130213.69  128253.766  126305.016  125334.836
277  179350.58  178644.31  177234.60  176062.670  173726.610  171865.250

       Vazao30    Vazao31
276  124367.48        NaN
277  170705.31  169316.84

[2 rows x 31 columns]
Vazao5
Vazao7
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F']

4
       Vazao01    Vazao02     Vazao03    Vazao04    Vazao05    Vazao06  \
273   94579.89   95628.10   95978.470   96504.92   96680.64   96680.64
274   89062.99   88722.33   88722.330   89062.99   89404.15   89404.15
275  122825.54  121482.27  120526.195  119382.64  118622.55  117485.82
276  167932.16  166551.27  165403.440  164258.25  162659.45  161293.20

        Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
273   95628.100   95628.10   95978.47   96329.31  ...  107990.60  108540.81
274   89062.990   87364.56   87026.35   87026.35  ...   92496.49   91978.37
275  115788.445  115037.03  113353.07  111307.56  ...   98621.49   96680.64
276  160384.520  158572.27  156766.90  154968.44  ...  137361.22  135560.92

        Vazao24     Vazao25     Vazao26     Vazao27     Vazao28     Vazao29  \
273  109828.710  110937.160  112049.766  113353.070  114662.010  115788.445
274   91461.336   91461.336   91805.900   91805.900   92323.664   92842.516
275   94579.890   92842.516   91805.900   90430.550   89745.800   89062.990
276  133769.550  131789.640  130213.690  128253.766  126305.016  125334.836

        Vazao30     Vazao31
273  118243.190  120144.555
274   93709.695         NaN
275   88042.470   88382.150
276  124367.480         NaN

[4 rows x 31 columns]
Vazao7
Vazao27
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW']

3
       Vazao01    Vazao02     Vazao03     Vazao04    Vazao05    Vazao06  \
273   94579.89   95628.10   95978.470   96504.920   96680.64   96680.64
271  156766.90  156992.19  156541.720  156316.640  155866.81  155417.40
272  122249.18  124560.72  126305.016  127863.125  130213.69  131789.64

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
273   95628.10   95628.10   95978.47   96329.31  ...  107990.60  108540.81
271  154379.39  154968.44  154968.44  154169.94  ...  162887.53  164029.53
272  132976.25  134564.61  135162.06  136960.39  ...  152498.17  152915.47

       Vazao24    Vazao25     Vazao26    Vazao27    Vazao28     Vazao29  \
273  109828.71  110937.16  112049.766  113353.07  114662.01  115788.445
271  164716.00  165862.25  167011.140  168393.30  170010.61         NaN
272  153333.20  153333.20  154169.940  154968.44  155417.40  155417.400

       Vazao30     Vazao31
273  118243.19  120144.555
271        NaN         NaN
272  156091.67  156541.720

[3 rows x 31 columns]
Vazao27
Vazao26
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R']

7
       Vazao01    Vazao02    Vazao03    Vazao04    Vazao05    Vazao06  \
265  211328.36  210582.34  209589.03  208845.08  208102.00  207112.61
266  222876.62  222876.62  222370.28  222117.25  221106.10  220853.55
267  220853.55  220853.55  221106.10  221358.73  221106.10  221358.73
268  212823.02  213322.00  213571.66  213571.66  214071.23  214321.17
269  193185.94  193669.10  194394.60  195363.34  196576.53  197548.88
270  171400.97  173260.64  174192.98  175360.75  176062.67  177000.00
271  156766.90  156992.19  156541.72  156316.64  155866.81  155417.40

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
265  206124.80  205878.08  205138.55  204399.90  ...  195363.34  194636.64
266  220348.73  219844.31  219340.28  219088.40  ...  215822.83  215071.56
267  220853.55  220853.55  220853.55  221358.73  ...  223636.86  223383.36
268  214321.17  214321.17  214321.17  214321.17  ...  217327.98  217830.48
269  198035.64  198522.81  199498.36  201454.22  ...  207359.81  208102.00
270  177938.98  178174.00  178409.11  180293.70  ...  188376.47  188376.47
271  154379.39  154968.44  154968.44  154169.94  ...  162887.53  164029.53

       Vazao24    Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
265  193910.83  192461.94  191979.78  190535.72  189815.06  188615.97
266  214321.17  214321.17  213821.39  213322.00  212823.02  212823.02
267  223383.36  223383.36  223383.36  223383.36  223383.36  223383.36
268  217830.48  218081.88  219088.40  219340.28  219592.25  219844.31
269  208845.08  209589.03  210830.90  211328.36  211826.19  212324.40
270  188855.60  188855.60  189815.06  189815.06  191016.67  191257.30
271  164716.00  165862.25  167011.14  168393.30  170010.61        NaN

       Vazao30    Vazao31
265  187658.53  186464.02
266  212324.40  211826.19
267  223129.94        NaN
268  219844.31  220348.73
269  212823.02        NaN
270  191979.78  192220.81
271        NaN        NaN

[7 rows x 31 columns]
Vazao26
Vazao19
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW']

2
       Vazao01    Vazao02    Vazao03    Vazao04   Vazao05    Vazao06  \
264  185033.97  184082.62  182184.88  180765.88  179586.2  178644.31
265  211328.36  210582.34  209589.03  208845.08  208102.0  207112.61

      Vazao07    Vazao08    Vazao09   Vazao10  ...    Vazao22    Vazao23  \
264  178174.0  177234.60  176531.12  175828.6  ...  160157.61  159251.05
265  206124.8  205878.08  205138.55  204399.9  ...  195363.34  194636.64

       Vazao24    Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
264  157217.60  155866.81  154379.39  152081.30  151248.83  149175.17
265  193910.83  192461.94  191979.78  190535.72  189815.06  188615.97

       Vazao30    Vazao31
264  147523.98        NaN
265  187658.53  186464.02

[2 rows x 31 columns]
Vazao19
Vazao18
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F']

4
       Vazao01    Vazao02    Vazao03     Vazao04     Vazao05     Vazao06  \
261  107807.43  108173.89  109092.07  110382.414  111492.940  112793.820
262   91117.25   90773.66   90773.66   91978.370   92669.445   93709.695
263  145879.70  143426.27  141596.44  139977.340  138767.600  137361.220
264  185033.97  184082.62  182184.88  180765.880  179586.200  178644.310

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
261  113166.53  113539.71  113539.71  114100.34  ...  121865.50  123210.34
262   94405.61   94754.29   95628.10   95628.10  ...  102906.07  103987.87
263  135960.22  134962.81  133372.69  132184.73  ...  106893.33  105073.89
264  178174.00  177234.60  176531.12  175828.60  ...  160157.61  159251.05

       Vazao24     Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
261  123788.41  124947.555  125916.61  126499.38  127277.99  127667.97
262  104168.58  104349.410  105255.31  105255.31  105255.31  105618.49
263  103807.27  102007.820   99508.48   97737.49   96504.92   95278.22
264  157217.60  155866.810  154379.39  152081.30  151248.83  149175.17

        Vazao30     Vazao31
261  128644.860  129232.336
262  106346.266         NaN
263   92496.490   91461.336
264  147523.980         NaN

[4 rows x 31 columns]
Vazao18
Vazao31
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW']

4
        Vazao01    Vazao02    Vazao03     Vazao04    Vazao05    Vazao06  \
261  107807.430  108173.89  109092.07  110382.414  111492.94  112793.82
258  161520.640  161748.19  162659.45  163115.720  164487.08  165174.19
259  145060.160  146084.86  146906.56  147730.000  148555.17  149175.17
260  130017.195  131000.77  131789.64  132976.250  133968.16  134365.69

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
261  113166.53  113539.71  113539.71  114100.34  ...  121865.50  123210.34
258  166321.48  166781.16  167471.44  167701.75  ...  172562.48  173027.81
259  149796.14  150625.61  150418.08  150625.61  ...  157894.45  158346.22
260  134763.66  135162.06  135162.06  135560.92  ...  139977.34  140179.34

       Vazao24     Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
261  123788.41  124947.555  125916.61  126499.38  127277.99  127667.97
258  173726.61  174659.780  175360.75  176296.84  177000.00  177469.28
259  158798.42  159024.690  159251.05  160157.61  160838.64        NaN
260  140786.02  141191.000  141799.31  141799.31  142205.40  142815.34

       Vazao30     Vazao31
261  128644.86  129232.336
258  178174.00  178879.640
259        NaN         NaN
260  143630.12  144038.160

[4 rows x 31 columns]
Vazao31
Vazao14
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R']

6
       Vazao01    Vazao02    Vazao03    Vazao04    Vazao05    Vazao06  \
253  201454.22  201454.22  200964.66  200720.03  199986.73  199254.33
254  213072.45  213322.00  213322.00  212573.66  212324.40  211826.19
255  213821.39  213821.39  213821.39  213821.39  213821.39  213821.39
256  207854.50  208349.60  209589.03  209837.20  210333.86  211079.58
257  180293.70  181474.92  182658.70  183845.06  185272.05  186941.52
258  161520.64  161748.19  162659.45  163115.72  164487.08  165174.19

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
253  198279.19  197548.88  197062.50  196576.53  ...  188137.05  187180.42
254  211826.19  211577.22  211328.36  211079.58  ...  206371.60  205631.47
255  213821.39  214321.17  214321.17  214321.17  ...  216324.17  216324.17
256  211577.22  211826.19  211826.19  211826.19  ...  213821.39  213821.39
257  187897.73  188615.97  189095.30  189575.03  ...  202925.28  203662.14
258  166321.48  166781.16  167471.44  167701.75  ...  172562.48  173027.81

       Vazao24    Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
253  186225.42  185272.05  184320.31  183370.20  182895.77  182421.75
254  205138.55  204153.89  203170.80  202925.28  202925.28  202925.28
255  216073.45  215822.83  215572.31  215071.56  214321.17  213821.39
256  213821.39  213821.39  213571.66  213322.00  213322.00  213322.00
257  204646.02  204892.23  204892.23  205631.47  206618.50  206618.50
258  173726.61  174659.78  175360.75  176296.84  177000.00  177469.28

       Vazao30    Vazao31
253  181711.47  181002.12
254  202189.30  201454.22
255  213821.39        NaN
256  213322.00  213821.39
257  207112.61        NaN
258  178174.00  178879.64

[6 rows x 31 columns]
Vazao14
Vazao12
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW']

2
       Vazao01    Vazao02    Vazao03    Vazao04    Vazao05    Vazao06  \
252  180765.88  180529.73  179115.06  178174.00  176531.12  174893.33
253  201454.22  201454.22  200964.66  200720.03  199986.73  199254.33

       Vazao07    Vazao08    Vazao09    Vazao10  ...    Vazao22    Vazao23  \
252  174426.33  173493.56  172097.56  171168.98  ...  153542.23  152081.30
253  198279.19  197548.88  197062.50  196576.53  ...  188137.05  187180.42

       Vazao24    Vazao25    Vazao26    Vazao27    Vazao28    Vazao29  \
252  150418.08  148348.72  147112.27  146290.12  145264.88  144242.34
253  186225.42  185272.05  184320.31  183370.20  182895.77  182421.75

       Vazao30    Vazao31
252  142611.92        NaN
253  181711.47  181002.12

[2 rows x 31 columns]
Vazao12
Vazao18

In [50]:
import numpy as np
import math

# lista_periodo = []
# lista_media_vazao = []

x = df.loc[df['year'] >= 2024 ].copy()
x = x.loc[x['year'] <= 2024].copy()
x = x.loc[x['month'] >= 5 ].copy()
x = x.loc[x['month'] <= 12].copy()
x = x.drop(columns=['Data','year','month','day','Maxima','Media','Minima'])
print( len(x))
# print(x)
print(str('Vazao')+str(df_period_limits['day'][99]))

lista_periodo.append(df_period_limits['type'][99])

lista_dias = []
x_1 = x[0:1].copy()
# print(x_1)
for j in range(int(df_period_limits['day'][99]),31):
      # print(j)
  if j < 10:
    media1 = x_1[str('Vazao0')+str(j)].mean()
    lista_dias.append(media1)

  else:
    media1 = x_1[str('Vazao')+str(j)].mean()
    lista_dias.append(media1)

x_2 = x[-1:].copy()
# print(x_2)
for k in range(int(df_period_limits['day'][i+1]),31):
      # print(k)
  if k < 10:
    media2 = x_2[str('Vazao0')+str(k)]
    lista_dias.append(media2.mean())
      # print(media2)
  else:
    media2 = x_2[str('Vazao')+str(k)]
    lista_dias.append(media2.mean())
print(lista_dias)
cleaned = [x for x in lista_dias if not (isinstance(x, float) and math.isnan(x))]
cleaned_mean = sum(cleaned)/len(lista_dias)

media = x[1:-1].mean(axis=1).mean()
cleaned_mean = (media + cleaned_mean)/2

lista_media_vazao.append(cleaned_mean)


print(lista_media_vazao)
print(lista_periodo)

8
Vazao30
[np.float64(98267.54), np.float64(206124.8)]
[np.float64(149214.789), np.float64(183025.31028530464), np.float64(169613.685), np.float64(136244.9202111729), np.float64(149854.9129534884), np.float64(190720.28625301324), np.float64(162837.60815999997), np.float64(103080.74733037633), np.float64(148226.72101190477), np.float64(180563.7349375079), np.float64(175660.20759999997), np.float64(116004.58807750206), np.float64(150666.27463608026), np.float64(193666.54681003583), np.float64(168239.77187499995), np.float64(126322.32968953854), np.float64(154595.29489080462), np.float64(195550.16219969274), np.float64(171769.7223147605), np.float64(124781.3575430352), np.float64(138929.42266666668), np.float64(180999.04104059143), np.float64(171839.26405405405), np.float64(106080.17694964157), np.float64(160096.87898069495), np.float64(201415.74048783246), np.float64(183308.0648275862), np.float64(136644.78661182796), np.float64(154536.10685476192), np.float64(184493.99160463712), np.float64(164391.1825192308), np.float64(110485.55867642681), np.float64(129790.93746153844), np.float64(186521.60465002473), np.float64(164827.16869387752), np.float64(119278.7440951613), np.float64(142250.53756666664), np.float64(219826.38221447775), np.float64(202542.5635714286), np.float64(128126.49152834601), np.float64(159893.37073045823), np.float64(205831.04747849464), np.float64(182633.59722222225), np.float64(114141.14297255377), np.float64(136688.0720909091), np.float64(185957.1281573925), np.float64(190126.71041666667), np.float64(143118.0334922939), np.float64(141304.2671), np.float64(193509.33898146707), np.float64(170410.18369565214), np.float64(110683.14230716479), np.float64(146860.17380952384), np.float64(203547.3328612903), np.float64(171605.00722222222), np.float64(142375.47641754642), np.float64(162794.57918701298), np.float64(205181.13442284643), np.float64(181229.005483871), np.float64(145134.1248252688), np.float64(156501.54111344536), np.float64(198010.68972222222), np.float64(180306.45410256414), np.float64(114373.4641691231), np.float64(136836.90255013076), np.float64(193923.1057701613), np.float64(174051.1739153226), np.float64(114133.90864646743), np.float64(152267.03416666668), np.float64(201998.4205119392), np.float64(184040.40156250005), np.float64(112891.45755824374), np.float64(155805.23482142857), np.float64(190479.61224086024), np.float64(171801.6035483871), np.float64(127231.86266673935), np.float64(144317.219), np.float64(203283.95672727854), np.float64(179846.42681818182), np.float64(133725.76135752688), np.float64(163262.5020079023), np.float64(198614.23958110274), np.float64(166808.01380000002), np.float64(100246.71293625192), np.float64(134219.7575), np.float64(214749.52171511773), np.float64(197150.93499999997), np.float64(160882.57285714286), np.float64(184250.2051282051), np.float64(228570.40154197457), np.float64(190831.03727272723), np.float64(123086.80220236364), np.float64(145236.61236842108), np.float64(189753.36151084624), np.float64(180788.90305555554), np.float64(110447.13457354595), np.float64(144147.74085266457), np.float64(169781.06838709678), np.float64(203966.25307692305), np.float64(138414.85364749102)]
['LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_LW', 'LW_to_R', 'R_to_HW', 'HW_to_F', 'F_to_L']

In [53]:
df_media_vazao = pd.DataFrame(list(zip(lista_periodo, lista_media_vazao)),
               columns =['water_period', 'media_vazao'])

df_media_vazao=df_media_vazao.replace('LW_to_R', 'R')
df_media_vazao=df_media_vazao.replace('R_to_HW', 'HW')
df_media_vazao=df_media_vazao.replace('HW_to_F', 'F')
df_media_vazao=df_media_vazao.replace('F_to_LW', 'LW')
df_media_vazao=df_media_vazao.replace('F_to_L', 'LW')
df_media_vazao

   water_period    media_vazao
0             R  149214.789000
1            HW  183025.310285
2             F  169613.685000
3            LW  136244.920211
4             R  149854.912953
..          ...            ...
95           LW  110447.134574
96            R  144147.740853
97           HW  169781.068387
98            F  203966.253077
99           LW  138414.853647

[100 rows x 2 columns]

In [54]:
df_media_vazao = pd.concat([df_media_vazao,df_period_limits],axis=1)
df_media_vazao

,water_period,media_vazao,Data,type,day,month,year,longitude,latitude,time_start
0,R,149214.789000,2000-01-13 10:43:38.181818240,LW_to_R,13,1,2000,-55.5131,-1.9192,2000-01-13
1,HW,183025.310285,2000-02-29 18:17:42.295081984,R_to_HW,29,2,2000,-55.5131,-1.9192,2000-02-29
2,F,169613.685000,2000-08-24 20:45:42.857142784,HW_to_F,24,8,2000,-55.5131,-1.9192,2000-08-24
3,LW,136244.920211,2000-09-28 10:23:44.598930432,F_to_LW,28,9,2000,-55.5131,-1.9192,2000-09-28
4,R,149854.912953,2001-01-05 16:27:54.418604672,LW_to_R,5,1,2001,-55.5131,-1.9192,2001-01-05
...,...,...,...,...,...,...,...,...,...,...
95,LW,110447.134574,2023-08-25 18:37:31.737451520,F_to_LW,25,8,2023,-55.5131,-1.9192,2023-08-25
96,R,144147.740853,2024-01-26 18:57:28.739495680,LW_to_R,26,1,2024,-55.5131,-1.9192,2024-01-26
97,HW,169781.068387,2024-03-25 23:32:02.330097152,R_to_HW,25,3,2024,-55.5131,-1.9192,2024-03-25
98,F,203966.253077,2024-04-06 10:42:51.428571648,HW_to_F,6,4,2024,-55.5131,-1.9192,2024-04-06
99,LW,138414.853647,2024-05-30 21:51:25.714285824,F_to_L,30,5,2024,-55.5131,-1.9192,2024-05-30

In [55]:
df_media_vazao.describe()

,media_vazao,Data,day,month,year,longitude,latitude
count,100.000000,100,100.000000,100.000000,100.000000,1.000000e+02,1.000000e+02
mean,162010.813447,2012-05-07 18:51:51.887551744,15.670000,6.380000,2011.860000,-5.551310e+01,-1.919200e+00
min,100246.712936,2000-01-13 10:43:38.181818240,1.000000,1.000000,2000.000000,-5.551310e+01,-1.919200e+00
25%,138800.780412,2006-01-23 09:53:06.061016960,7.000000,2.000000,2005.750000,-5.551310e+01,-1.919200e+00
50%,163826.842264,2012-05-04 11:31:12,16.500000,8.000000,2012.000000,-5.551310e+01,-1.919200e+00
75%,184859.775743,2018-08-23 02:21:44.215700992,24.000000,9.000000,2018.000000,-5.551310e+01,-1.919200e+00
max,228570.401542,2024-05-30 21:51:25.714285824,31.000000,12.000000,2024.000000,-5.551310e+01,-1.919200e+00
std,30431.903447,NaN,9.407771,3.818562,7.244671,5.712979e-14,1.785306e-15

In [56]:
# aggregated_data.to_csv('C:/Users/l_v_v/Documents/GitHub/py6s_harmonize_sample/datasets/Parameters Time series/mean_watershed_discharge_cota.csv')
df_media_vazao.to_csv('/content/drive/MyDrive/CURUAI_PROCESS//mean_watershed_discharge_cota.csv')